@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var containerId = Model?.Content.Value<string>("containerId") ?? null;
    int containerNumber = 0;
    if(containerId == null)
    {
        containerNumber += 1;
        containerId = containerNumber.ToString();
    }
    var spacingTopClass = (Model!.Content.Value<bool>("addSpaceToTop")) ? "addSpaceToTop" : "";
    var spacingBottomClass = (Model!.Content.Value<bool>("addSpaceToBottom")) ? "addSpaceToBottom" : "";
    var centerContent = (Model!.Content.Value<bool>("centerContentInSection")) ? "centerContent" : "";
    var fullHeightContainer = (Model!.Content.Value<bool>("fullHeightContainer")) ? "fullHeightContainer" : "";

    var containerBackgroundColor = Model?.Content.Value<PickedColor>("ContainerBackgroundColor")?.Label.ToLower() ?? "transparent";
    
}

@if(containerBackgroundColor != null || containerBackgroundColor != "transparent")
{
<style>
    .dynamicContainerBackgroundColor-@containerId
    {
        background-color: var(--color-@containerBackgroundColor);
    }
</style>
}

<div id="@containerId" class="container dynamicContainerBackgroundColor-@containerId @centerContent @spacingTopClass @spacingBottomClass @fullHeightContainer">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model!)
</div>