@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var centerContent = (Model!.Content.Value<bool>("centerContent")) ? "center" : "start";
    var alignTextCenter = (Model!.Content.Value<bool>("alignTextCenter")) ? "centerText" : "";
    var paddingAround = (Model!.Content.Value<bool>("spaceAround")) ? "padding: 1rem" : "";
    var paddingToRight = (Model!.Content.Value<bool>("addSpaceToRight")) ? "addSpaceToRightElement" : "";
    var paddingToLeft = (Model!.Content.Value<bool>("addSpaceToLeft")) ? "addSpaceToLeftElement" : "";
    var paddingToTop = (Model!.Content.Value<bool>("addSpaceToTop")) ? "addSpaceToTop" : "";
    var paddingToBottom = (Model!.Content.Value<bool>("addSpaceToBottom")) ? "addSpaceToBottom" : "";
    var borderShadow = (Model!.Content.Value<bool>("borderShadow")) ? "borderShadow" : "";
    var customSpace = Model?.Content.Value<string>("addCustomSpace") ?? "";
    var border = (Model!.Content.Value<bool>("addBorder")) ? "border" : "";
    var borderColor = Model?.Content.Value<string>("borderColor") ?? "";
    var backgroundColor = Model?.Content.Value<PickedColor>("backgroundColor")?.Label.ToLower() ?? "transparent";
}

<div name="elementContainer" style="@customSpace; @paddingAround; justify-content: @centerContent; border-color: @borderColor; background-color: var(--color-@backgroundColor)" class="@borderShadow  @border @alignTextCenter @paddingToLeft @paddingToRight @paddingToBottom @paddingToTop elementContainer">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model!)
</div>