@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var textContent = Model?.Content.Value<string>("text") ?? "";
    var textColor = Model?.Content.Value<PickedColor>("textColor") ?? "#535656";
    var textSize =  Model?.Content.Value<string>("textSize") ?? "24px"; 
}

@if(!string.IsNullOrEmpty(headingContent))
{
    <p style="color: @textColor; font-size: @textSize;">
        @textContent
    </p>
}