@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var inputId = Model?.Content.Value<string>("inputId") ?? null;
    var inputPlaceholderText = Model?.Content.Value<string>("inputPlaceholderText") ?? null;
    var inputWarningText = Model?.Content.Value<string>("inputWarningText") ?? null;
    var inputSuccessText = Model?.Content.Value<string>("inputSuccessText") ?? null;
}
@if(!string.IsNullOrEmpty(inputId))
{
    <input class="formInput" placeholder="@inputPlaceholderText" id="@inputId" />
    <span id="warning-@inputId" class="dangerText">@inputWarningText</span>
}