@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var spacingTopClass = (Model!.Content.Value<bool>("addSpaceToTop")) ? "addSpaceToTop" : "";
    var spacingBottomClass = (Model!.Content.Value<bool>("addSpaceToBottom")) ? "addSpaceToBottom" : "";
    var centerContentHorizontal = (Model!.Content.Value<bool>("centerContentHorizontal")) ? "centerContentHorizontal" : "";
    var centerContentVertical = (Model!.Content.Value<bool>("centerContentVertical")) ? "centerContentVertical" : "";
    var fullHeightContainer = (Model!.Content.Value<bool>("fullHeightContainer")) ? "fullHeightContainer" : "";

    var containerBackgroundColor = Model?.Content.Value<PickedColor>("ContainerBackgroundColor")?.Label.ToLower() ?? "transparent";
    
}

<div style="background-color: var(--color-@containerBackgroundColor)" class="container-full-width @centerContentHorizontal @centerContentVertical @spacingTopClass @spacingBottomClass @fullHeightContainer">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model!)
</div>