@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var headingContent = Model?.Content.Value<string>("text");
    var textColor = Model?.Content.Value<PickedColor>("textColor")?.Label.ToLower() ?? "textgray";  
}

@if(!string.IsNullOrEmpty(headingContent))
{
    <h3 style="color: var(--color-@textColor)" class="h3Headline noMargin">
        @headingContent
    </h3>
}