@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.Blocks

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
	var selection = Umbraco.Content(Guid.Parse("69c40923-74c6-4282-9b7c-57ac00e1094c"))
    .ChildrenOfType("serviceItemTemplate")
    .Where(x => x.IsVisible()).Take(6);
}
<!-- Section Our Services -->
<div class="businessGrid">
    @if(selection.Count() != 0)
    {
                @foreach (var box in selection)
                {

                var blockHeadline = box.Value<string>("pageTitle") ?? "";
                var blockText = box.Value<string>("pageIngress") ?? "";
                var blockImage = box.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";

                    <div class="businessGridItem">
                        <a class="aLink" href="@box!.Url()">
                            <div class="gridItemHeadlineContainer">
                                <h4 class="h4Headline noMargin">@blockHeadline</h4>
                            </div>

                            <img class="gridItemImage" src="@blockImage" alt="A picture">

                            <div class="gridItemTextContainer noMargin">
                                <p>@blockText</p>
                            </div>
                        </a>
                    </div>
                }            
    }
</div>