@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var paragraphContent = Model?.Content.Value<string>("text");
    var textColor = Model?.Content.Value<PickedColor>("textColor")?.Label.ToLower() ?? "textgray";
    var italic = (Model!.Content.Value<bool>("italic") ? "font-style: italic;" : "");
    var bold = (Model!.Content.Value<bool>("bold") ? "font-weight: bold;" : "");
}

@if(!string.IsNullOrEmpty(paragraphContent))
{
    <p style="color: var(--color-@textColor); @italic @bold" class="pText noMargin">
        @paragraphContent
    </p>
}