@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var sectionTitle = Model?.Content.Value<string>("sectionTitle");
    var sectionHeadline = Model?.Content.Value<string>("sectionHeadline"); 

    var sectionTitleColor = Model?.Content.Value<PickedColor>("sectionTitleColor")?.Label.ToLower() ?? "sand";
    var sectionHeadlineColor = Model?.Content.Value<PickedColor>("sectionHeadlineColor")?.Label.ToLower() ?? "textgray";

    var centerText = (Model!.Content.Value<bool>("textAlignCenter")) ? "centerText" : ""; 

    var headerAlign = (Model!.Content.Value<bool>("healineAlignCenter")) ? "sectionHeadlineParentCenter" : "sectionHeadlineParentLeft";   
}

@if(!string.IsNullOrEmpty(sectionHeadline))
{
    <div class="@headerAlign">
        <div class="sectionHeadline @centerText">
            <h5 style="color: var(--color-@sectionTitleColor)" class="h5Headline noMargin sectionh5textColor @centerText">
                @sectionTitle
            </h5>
            <h2 style="color: var(--color-@sectionHeadlineColor)" class="h2Headline noMargin sectionh2textColor @centerText">
                @sectionHeadline
            </h2>
        </div>
    </div>
}