@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var sectionTitle = Model?.Content.Value<string>("sectionTitle");
    var sectionHeadline = Model?.Content.Value<string>("sectionHeadline"); 

    var sectionTitleColor = Model?.Content.Value<PickedColor>("sectionTitleColor")?.Label.ToLower() ?? "sand";
    var sectionHeadlineColor = Model?.Content.Value<PickedColor>("sectionHeadlineColor")?.Label.ToLower() ?? "textgray";

    var centerText = (Model!.Content.Value<bool>("textAlignCenter")) ? "centerText" : "";    
}

<style>
    .sectionh2textColor
    {
        color: var(--color-@sectionHeadlineColor);
    }
    .sectionh5textColor
    {
        color: var(--color-@sectionTitleColor);
    }
</style>

@if(!string.IsNullOrEmpty(sectionHeadline))
{
    <div class="sectionHeadlines @centerText">
        <h5 class="h5Headline sectionh5textColor">
            @sectionTitle
        </h5>
        <h2 class="h2Headline sectionh2textColor">
            @sectionHeadline
        </h2>
    </div>
}