@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@{
    var space = Model?.Content.Value<string>("amountOfSpace");

    if(string.IsNullOrEmpty(space))
    {
        space = "0.5rem";
    }
}
<div style="padding-block: @space" class="space1"></div>