<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c500f9aa-fb16-4792-9abf-433b954b8810" Alias="helpYouFormPage" Level="3">
  <Info>
    <Name>Help You Form Page</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/HelpYouForm</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6ebe64a3-6e4f-4d42-88d4-c7581848728b" SortOrder="0">helpYouFormItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>