<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae04dc68-cac3-454b-a449-3022306cc68c" Alias="modularEmailResponse" Level="2">
  <Info>
    <Name>Modular Email Response</Name>
    <Icon>icon-message</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Edit your own email reponse</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ae04dc68-cac3-454b-a449-3022306cc68c" SortOrder="0">modularEmailResponse</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>296e496d-b009-46e8-b897-d0ffb4c180ea</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>0257289b-592c-41c1-8d33-9fef37197faa</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e11959d0-c8ea-4568-9051-b407aab2d172</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>