//Mobil first >576px
@media(min-width: 10px) {

    .contactForm {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        box-shadow: 0px 1px 12px var(--color-lightgray);
        z-index: 10;


        .formHeader {
            padding: 2rem;
            display: flex;
            align-items: center;

            .formh3Headline {
                margin: 0;
            }
        }

        .formContent {
            padding: 2rem;
            display: grid;
            row-gap: 1rem;

            .formTermsText {
                padding-block: 1rem;

                .termsText {
                    font-size: 0.9rem;
                    margin-bottom: 0;
                }
            }

            .formInput {
                padding: 1rem;
                border: 1px solid var(--color-lightgray);
                border-radius: 0.2rem;
                font-size: 0.9rem;
                font-style: italic;
            }

            .formInputSelect {
                padding: 1rem;
                border: 1px solid var(--color-lightgray);
                border-radius: 0.2rem;
                display: flex;
                justify-content: space-between;
                font-size: 0.9rem;

                .formSelect {
                    border: none;
                }
            }
        }
    }
}

//Desktop last >1400px
@media(min-width: 1400px) {

        .contactForm {
            display: grid;
            position: absolute;
            right: 0;
            bottom: -100%;
            width: 32rem;
            height: auto;
            box-shadow: 0px 1px 12px var(--color-lightgray);
            background-color: var(--color-white);
        }
}
