@import "../mixins/_mixins.scss";


.formChildContainer {
    display: grid;
    grid-template-columns: 1fr;

    @media(min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}

@mixin formInput {
    padding: 1rem;
    border: 1px solid var(--color-lightgray);
    border-radius: 0.2rem;
    font-size: 0.9rem;
    margin: 1rem;

    @media(min-width: 768px) {
        min-width: 21rem;
    }
}

.formInput {
    @include formInput;
    font-style: italic;
}

.formInputSelect {
    @include formInput;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    margin-right: 1rem;

    .formSelect {
        border: none;
        outline: none;
    }
}

@mixin message {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}

.errorMessage {
    @include message;
    color: var(--color-danger);
}

.successMessage {
    color: var(--color-success);
    @include message;
}


