@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-darkgray: #4F5955;
  --color-lightgray: #E0E0E0;
  --color-mediumgray: #808080;
  --color-textgray: #535656;
  --color-beige: #F2EDDC;
  --color-sand: #D9C3A9;
  --color-darkwhite: #F7F7F7;
  --color-white: #FFFFFF;
  --color-black: #080808;
  --color-danger: #F24346;
  --color-success: #28D15A;
  --color-transparent: transparent;
  --color-none: transparent;
}

.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-inline: 18px;
  padding-block: 12px;
  border-radius: 0.2rem;
  border: none;
  transition: all ease-in-out 120ms;
  text-decoration: none;
  min-width: 180px;
  font-size: 1.1rem;
  font-weight: 500;
}
.btn:hover {
  background-color: var(--color-mediumgray) !important;
  color: var(--color-white) !important;
}

.btnBeige {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-inline: 18px;
  padding-block: 12px;
  border-radius: 0.2rem;
  border: none;
  transition: all ease-in-out 120ms;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--color-beige);
  color: var(--color-gray);
}
.btnBeige:hover {
  background-color: var(--color-mediumgray) !important;
  color: var(--color-white) !important;
}

.aLink {
  color: var(--color-textgray);
  text-decoration: none;
  transition: all ease-in-out 120ms;
}
.aLink:hover {
  color: var(--color-mediumgray);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-textgray);
}
@media (min-width: 10px) {
  body {
    text-align: left;
  }
}
@media (min-width: 768px) {
  body {
    text-align: left;
  }
}

@media (min-width: 10px) {
  .h1Headline {
    font-size: 2rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .h1Headline {
    font-size: 4rem;
  }
}

@media (min-width: 10px) {
  .h2Headline {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .h2Headline {
    font-size: 2.2rem;
  }
}

.h3Headline {
  font-size: 1.3rem;
  font-weight: 800;
}

.h4Headline {
  font-size: 1.3rem;
  font-weight: 500;
}

.h5Headline {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.h6Headline {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.iText {
  font-weight: 200;
  font-size: 1.2rem;
}

.pText {
  font-size: 0.9rem;
}

p {
  margin: 0;
}

.noMargin {
  margin: 0;
}

.sectionHeadlines {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 580px;
}

.centerText {
  text-align: center;
}

.dangerText {
  color: var(--color-danger);
  font-size: 0.8rem;
  font-style: italic;
}

.successText {
  color: var(--color-success);
  font-size: 0.8rem;
  font-style: italic;
}

.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.wrapper {
  display: grid;
}
@media (min-width: 10px) {
  .wrapper {
    grid-template-rows: auto 1fr;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.section {
  position: relative;
  z-index: 0;
  width: 100%;
}

.sectionFiftyFifty {
  position: relative;
  display: grid;
  margin: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .sectionFiftyFifty {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .sectionFiftyFifty {
    grid-template-columns: 1fr 1fr;
  }
}

.containerFullWidth {
  width: 100vw;
  z-index: 2;
}

.container {
  z-index: 2;
}

.fullHeightContainer {
  height: 100%;
  z-index: 2;
}

.elementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 10px) {
  .addSpaceToTop {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .addSpaceToTop {
    padding-top: 4rem;
  }
}
@media (min-width: 1400px) {
  .addSpaceToTop {
    padding-top: 6rem;
  }
}

@media (min-width: 10px) {
  .addSpaceToBottom {
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .addSpaceToBottom {
    padding-bottom: 4rem;
  }
}
@media (min-width: 1400px) {
  .addSpaceToBottom {
    padding-bottom: 6rem;
  }
}

.addSpaceToRightElement {
  padding-right: 1rem;
}

.addSpaceToLeftElement {
  padding-left: 1rem;
}

.addSpaceToTopElement {
  padding-top: 1rem;
}

.addSpaceToBottomElement {
  padding-top: 1rem;
}

.addSpaceBetweenElements {
  padding-block: 1rem;
}

.sectionHeadlineParentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

@media (min-width: 10px) {
  .sectionHeadlineParentLeft {
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .sectionHeadlineParentLeft {
    text-align: left;
    align-items: start;
  }
}

.sectionHeadline {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  max-width: 540px;
}

.centerContentHorizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.centerContent {
  height: 100%;
  display: grid;
  align-items: center;
}

.centerContentVertical {
  display: grid;
  align-items: center;
}

.paddingAround {
  padding: 12px;
}

.paginationInnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}
.paginationInnerContainer .change {
  color: var(--color-textgray);
  font-size: 1.2rem;
  text-decoration: none;
}
.paginationInnerContainer .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.paginationInnerContainer .pagLi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
}
.paginationInnerContainer .number {
  color: var(--color-textgray);
  font-size: 1.2rem;
  text-decoration: none;
}
.paginationInnerContainer .inactive {
  color: var(--color-lightgray);
}
.paginationInnerContainer .active {
  border: solid 1px var(--color-lightgray);
  border-radius: 50%;
}

.map {
  width: 100%;
  height: 30vh;
}
@media (min-width: 576px) {
  .map {
    height: 40vh;
  }
}
@media (min-width: 992px) {
  .map {
    height: 60vh;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.backgroundImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.backgroundImageContent {
  background-size: cover;
  background-size: cover;
  background-position: center;
}

.backgroundImage {
  position: absolute;
  width: 100%;
}
@media (min-width: 10px) {
  .backgroundImage {
    display: none;
  }
}
@media (min-width: 768px) {
  .backgroundImage {
    display: flex;
  }
}
.imageContainer {
  position: relative;
}
@media (min-width: 10px) {
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .imageContainer {
    justify-content: left;
  }
}
.imageContainer .image {
  width: 100%;
  object-fit: cover;
}

.imageMyHalfContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageMyHalfContainer .imageMyHalf {
  width: 100%;
  object-fit: cover;
}

.myHalfContainer {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}
@media (min-width: 576px) {
  .myHalfContainer {
    max-width: 480px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .myHalfContainer {
    max-width: 720px;
    margin: 0;
    margin-left: auto;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .myHalfContainer {
    max-width: 420px;
  }
}
@media (min-width: 1200px) {
  .myHalfContainer {
    max-width: 570px;
  }
}
@media (min-width: 1400px) {
  .myHalfContainer {
    max-width: 660px;
  }
}

.border {
  border: solid 1px var(--color-lightgray);
  border-radius: 0.2rem;
}

.helpYouFormContainer {
  width: 100%;
  border-radius: 0.2rem;
  padding: 1.4rem;
  display: grid;
  position: relative;
}
.helpYouFormContainer .letterContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.helpYouFormContainer .form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.helpYouFormContainer .form .inputContainer {
  padding: 0.6rem;
  border-radius: 0.2rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.helpYouFormContainer .form .inputContainer input {
  outline: none;
  border: none;
}

.objectZoom {
  transition: all ease-in-out 120ms;
}
.objectZoom:hover {
  transform: scale(1.05);
}
.objectZoom:hover img {
  transition: all ease-in-out 120ms;
  opacity: 0.9;
}

.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0px, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0px, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1400px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .siteContainer {
    display: none;
  }
  .siteContainer .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 58px;
  }
  .siteContainer .topHeaderText {
    color: var(--color-white);
    margin: 0;
    font-weight: 200;
    font-size: 0.9rem;
  }
  .siteContainer .socialMediaContainer {
    display: flex;
  }
  .siteContainer .socialMediaContainer .socialMediaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 58px;
    color: var(--color-white);
    background-color: transparent;
    transition: background-color ease-in-out 120ms;
    text-decoration: none;
    border-left: solid 1px var(--color-mediumgray);
  }
  .siteContainer .socialMediaContainer .socialMediaButton:hover {
    background-color: var(--color-mediumgray);
  }
  .siteContainer .socialMediaContainer .socialMediaButtonLast {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 58px;
    color: var(--color-white);
    background-color: transparent;
    transition: background-color ease-in-out 120ms;
    text-decoration: none;
    border-inline: solid 1px var(--color-mediumgray);
  }
  .siteContainer .socialMediaContainer .socialMediaButtonLast:hover {
    background-color: var(--color-mediumgray);
  }
}
@media (min-width: 768px) {
  .siteContainer {
    display: flex;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .headerOuterContainer {
    width: 100%;
    overflow: hidden;
    padding-inline: 1rem;
    position: relative;
    height: 76px;
    z-index: 100;
    box-shadow: 0px 10px 24px var(--color-lightgray);
  }
  .headerOuterContainer .container {
    position: relative;
    width: 100%;
  }
  .headerOuterContainer .container .headerInnerContainer {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 10px 24px var(--color-lightgray);
  }
  .headerOuterContainer .container .headerInnerContainer .logotypeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerOuterContainer .container .headerInnerContainer .navDesktop {
    display: none;
    gap: 4rem;
  }
  .headerOuterContainer .container .headerInnerContainer .searchContainer {
    display: none;
  }
  .headerOuterContainer .container .headerInnerContainer .searchContainer .inputSearch {
    border: none;
  }
  .headerOuterContainer .container .headerInnerContainer .barContainer {
    display: flex;
  }
  .headerOuterContainer .container .headerInnerContainer .barContainer .fa-solid.fa-bars {
    font-size: 1.6rem;
    transition: all ease-in-out 120ms;
  }
  .headerOuterContainer .container .headerInnerContainer .barContainer .fa-solid.fa-bars:active {
    color: var(--color-mediumgray);
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu {
    position: fixed;
    right: -70%;
    top: 0;
    height: 100vh;
    width: 55%;
    background-color: var(--color-darkgray);
    z-index: 2;
    transition: right 0.3s ease;
    box-shadow: -5px 0px 24px var(--color-mediumgray);
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .xmarkContainer {
    display: flex;
    justify-content: right;
    margin-right: 0.5rem;
    padding: 1rem;
    padding-bottom: 0.2rem;
    height: 58px;
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .xmarkContainer .fa-solid.fa-xmark {
    font-size: 1.6rem;
    color: var(--color-white);
    transition: all ease-in-out 120ms;
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .xmarkContainer .fa-solid.fa-xmark:active {
    color: var(--color-mediumgray);
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .navSideMenu {
    display: grid;
    grid-template-columns: 1fr;
    transition: all ease-in-out 240ms;
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .navSideMenu .navLinkTextBar {
    padding-inline: 1rem;
    padding-block: 0.8rem;
    color: var(--color-white);
    text-decoration: none;
    border-bottom: 1px solid var(--color-mediumgray);
    transition: all ease-in-out 120ms;
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .navSideMenu .navLinkTextBar:hover {
    background-color: var(--color-mediumgray);
  }
  .headerOuterContainer .container .headerInnerContainer .sideMenu .navSideMenu .navLinkTextBar:active {
    background-color: var(--color-mediumgray);
  }
}
@media (min-width: 768px) {
  .headerOuterContainer {
    height: 18px;
  }
}
@media (min-width: 1400px) {
  .headerOuterContainer {
    height: auto;
  }
  .headerOuterContainer .container .headerInnerContainer {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    box-shadow: none;
  }
  .headerOuterContainer .container .headerInnerContainer .barContainer {
    display: none;
  }
  .headerOuterContainer .container .headerInnerContainer .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .headerOuterContainer .container .headerInnerContainer .navDesktop {
    display: flex;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.footer {
  background-color: var(--color-black);
}

.containerFooter {
  padding-block: 1rem;
}
.containerFooter .footerContent .footerText {
  color: var(--color-mediumgray);
  margin: 0;
}
.containerFooter .footerContent .aLinkFooter {
  color: var(--color-sand);
  transition: color ease-in-out 120ms;
  text-decoration: none;
}
.containerFooter .footerContent .aLinkFooter:hover {
  color: var(--color-beige);
  text-decoration: underline;
}

.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .containerCoups {
    padding-block: 1rem;
  }
  .itemsContainerCoups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-items: center;
    gap: 1rem;
  }
  .itemsContainerCoups .coupImage {
    width: 80%;
    transition: transform ease-in-out 120ms;
    cursor: pointer;
  }
  .itemsContainerCoups .coupImage:hover {
    transform: scale(1.05);
  }
}
@media (min-width: 768px) {
  .itemsContainerCoups {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .containerCoups {
    padding-block: 4rem;
  }
  .itemsContainerCoups {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 10px) {
  .contactForm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 12px var(--color-lightgray);
    z-index: 10;
  }
  .contactForm .formHeader {
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  .contactForm .formHeader .formh3Headline {
    margin: 0;
  }
  .contactForm .formContent {
    padding: 2rem;
    display: grid;
    row-gap: 1rem;
  }
  .contactForm .formContent .formTermsText {
    padding-block: 1rem;
  }
  .contactForm .formContent .formTermsText .termsText {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .contactForm .formContent .formInput {
    padding: 1rem;
    border: 1px solid var(--color-lightgray);
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-style: italic;
  }
  .contactForm .formContent .formInputSelect {
    padding: 1rem;
    border: 1px solid var(--color-lightgray);
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  .contactForm .formContent .formInputSelect .formSelect {
    border: none;
  }
}
@media (min-width: 1400px) {
  .contactForm {
    display: grid;
    position: absolute;
    right: 0;
    bottom: -100%;
    width: 32rem;
    height: auto;
    box-shadow: 0px 1px 12px var(--color-lightgray);
    background-color: var(--color-white);
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .ourServices {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourServicesHeadlinesContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }
  .ourServicesHeadlinesContainer .ourServicesHeadlines {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 36rem;
  }
  .businessGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .businessGrid .businessGridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2rem;
    background-color: var(--color-white);
    box-shadow: 0px 0px 6px var(--color-lightgray);
  }
  .businessGrid .businessGridItem .gridItemImage {
    width: 100%;
  }
  .businessGrid .businessGridItem .gridItemHeadlineContainer {
    text-align: center;
    padding: 1.5rem;
  }
  .businessGrid .businessGridItem .gridItemTextContainer {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) {
  .ourServices {
    padding-block: 2rem;
  }
  .businessGrid {
    grid-template-columns: 1fr 1fr;
  }
  .businessGrid .businessGridItem {
    overflow: hidden;
    transition: all ease-in-out 120ms;
  }
  .businessGrid .businessGridItem:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 26px var(--color-lightgray);
  }
}
@media (min-width: 1400px) {
  .ourServices {
    padding-block: 6rem;
  }
  .businessGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .businessGrid .businessGridItem .gridItemHeadlineContainer {
    text-align: left;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .sliderRecent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .sliderContainer {
    display: none;
    width: 100%;
  }
  .sliderContainer .sliderItem {
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    transition: all ease-in-out 240ms;
  }
  .sliderContainer .sliderItem:hover {
    opacity: 0.9;
    background-color: rgba(79, 89, 85, 0.62);
  }
  .sliderLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 240ms;
    background-color: rgba(79, 89, 85, 0.2);
  }
  .sliderLink .sliderImage {
    max-width: 480px;
    max-height: 480px;
  }
  .sliderLink .sliderTextContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    transition: all ease-in-out 240ms;
    background-color: rgba(79, 89, 85, 0.62); /* 50% transparens */
  }
  .sliderLink .sliderTextContainer .sliderInnerTextContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .sliderLink .sliderTextContainer .sliderHeadlines {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
    transition: all ease-in-out 240ms;
  }
  .sliderLink .sliderTextContainer .sliderIngress {
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
    color: var(--color-white);
    font-size: 0.8rem;
  }
  .sliderLink .arrowContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    transition: all ease-in-out 240ms;
    opacity: 0;
  }
  .sliderLink .arrowContainer .arrow {
    height: 1.5rem;
    width: 1.5rem;
    border: solid 5px var(--color-white);
    border-bottom: none;
    border-left: none;
    border-radius: 0.2rem;
    transform: rotate(45deg);
  }
  .sliderLink:hover .sliderTextContainer {
    padding-block: 2rem;
    background-color: rgb(79, 89, 85);
  }
  .sliderLink:hover .sliderTextContainer .arrowContainer {
    opacity: 1;
  }
  .sliderLink:hover img {
    opacity: 0.6;
  }
  .sliderLink:hover .sliderHeadlines {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-sand);
  }
}
@media (min-width: 768px) {
  .sliderContainer .sliderItem {
    width: auto;
  }
}
@media (min-width: 1400px) {
  .sliderRecent {
    display: none;
  }
  .sliderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .sliderContainer .sliderItem {
    width: 25vw;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .successItemContainer {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .successItemContainer .successItem .bigNumbersContainer {
    text-align: center;
  }
  .successItemContainer .successItem .bigNumbersContainer .bigNumbers {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-sand);
  }
  .successItemContainer .successItem .bigNumbersContainer .bigNumbers:hover {
    transform: scale(1.2);
  }
  .successItemContainer .successItem .bigNumbersContainer .white {
    padding-inline: 3rem;
    color: var(--color-white);
  }
}
@media (min-width: 768px) {
  .successItemContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .successItemContainer .successItem .bigNumbersContainer .bigNumbers {
    font-size: 4rem;
  }
  .successItemContainer .successItem .bigNumbersContainer .white {
    padding-inline: 0rem;
  }
}
@media (min-width: 1400px) {
  .successItemContainer .successItem .bigNumbersContainer .bigNumbers {
    font-size: 6rem;
    transition: all ease-in-out 120ms;
  }
  .successItemContainer .successItem .bigNumbersContainer .bigNumbers:hover {
    transform: scale(1.05);
  }
  .successItemContainer .successItem .bigNumbersContainer .white {
    max-width: 20rem;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .containerExpert {
    padding-block: 4rem;
  }
  .sectionsHeadlineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .aboutUsExpertContentContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .expertSlider {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .aboutUsGridBigHeadline {
    font-weight: 600;
    margin: 0;
  }
  .aboutUsExpertContentContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .aboutUsGridSmallHeadline {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  .aboutUsGridSmallDescription {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    color: var(--color-mediumgray);
  }
  .aboutUsGridContainerBig {
    display: none;
  }
  .aboutUsGridContainerBig .aboutUsGridItemBig {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    border: solid 1px var(--color-lightgray);
    box-shadow: 0px 0px 6px var(--color-lightgray);
    transition: all ease-in-out 120ms;
  }
  .aboutUsGridContainerBig .aboutUsGridItemBig:hover {
    box-shadow: 0px 0px 12px var(--color-lightgray);
    transform: scale(1.02);
  }
  .aboutUsGridContainerBig .aboutUsGridItemBig .aboutUsGridImageBig {
    object-fit: cover;
  }
  .aboutUsGridItemTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
  }
  .aboutUsGridContainerSmall {
    display: none;
  }
}
@media (min-width: 1400px) {
  .containerExpert {
    padding-block: 6rem;
  }
  .sectionsHeadlineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .aboutUsExpertContentContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .expertSlider {
    display: none;
  }
  .aboutUsGridBigHeadline {
    font-weight: 600;
    margin: 0;
  }
  .aboutUsExpertContentContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .aboutUsGridSmallHeadline {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }
  .aboutUsGridSmallDescription {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    color: var(--color-mediumgray);
  }
  .aboutUsGridContainerBig {
    display: grid;
    place-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .aboutUsGridContainerBig .aboutUsGridItemBig {
    max-width: 370px;
    max-height: 482px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    border: solid 1px var(--color-lightgray);
    box-shadow: 0px 0px 6px var(--color-lightgray);
    transition: all ease-in-out 120ms;
  }
  .aboutUsGridContainerBig .aboutUsGridItemBig:hover {
    box-shadow: 0px 0px 12px var(--color-lightgray);
    transform: scale(1.02);
  }
  .aboutUsGridContainerBig .aboutUsGridItemBig .aboutUsGridImageBig {
    max-width: 370px;
    max-height: 370px;
  }
  .aboutUsGridItemTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
  }
  .aboutUsGridContainerSmall {
    display: grid;
    gap: 2rem;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .aboutUsGridContainerSmall .aboutUsGridItemSmall {
    max-width: 270px;
    max-height: 356px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    border: solid 1px var(--color-lightgray);
    box-shadow: 0px 0px 6px var(--color-lightgray);
    transition: all ease-in-out 120ms;
  }
  .aboutUsGridContainerSmall .aboutUsGridItemSmall:hover {
    box-shadow: 0px 0px 12px var(--color-lightgray);
    transform: scale(1.02);
  }
  .aboutUsGridContainerSmall .aboutUsGridItemSmall .aboutUsGridImageSmall {
    object-fit: cover;
    max-width: 270px;
    max-height: 270px;
  }
  .aboutUsGridContainerSmall {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 10px) {
  .sectionServicesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
  }
  .sectionServicesContainer .smallContainer {
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .sectionServicesContainer .lineBetween {
    order: 2;
    width: 100%;
    background-color: var(--color-lightgray);
    height: 1px;
    box-shadow: 0px 0px 12px var(--color-lightgray);
  }
  .sectionServicesContainer .bigContainer {
    display: block;
    width: 100%;
    order: 1;
  }
}
@media (min-width: 1400px) {
  .sectionServicesContainer {
    display: grid;
    grid-template-columns: 1fr auto 3fr;
    gap: 3rem;
    padding-block: 4rem;
  }
  .sectionServicesContainer .smallContainer {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .sectionServicesContainer .lineBetween {
    height: 100%;
    background-color: var(--color-lightgray);
    width: 1px;
  }
  .sectionServicesContainer .bigContainer {
    order: 3;
    display: block;
    width: 100%;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .sectionProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
  }
  .sectionProjectContainer .projectSmallContainer {
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 100%;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer .projectTagsItemsContainer {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer .projectTagsItemsContainer .projectTag {
    padding-inline: 1rem;
    padding-block: 0.6rem;
    color: var(--color-mediumgray);
    border: solid 1px var(--color-lightgray);
    border-radius: 1.5rem;
  }
  .sectionProjectContainer .lineBetween {
    order: 2;
    width: 100%;
    background-color: var(--color-lightgray);
    height: 1px;
    box-shadow: 0px 0px 12px var(--color-lightgray);
  }
  .sectionProjectContainer .projectBigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    order: 1;
  }
  .sectionProjectContainer .projectBigContainer .projectItem {
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
  }
  .sectionProjectContainer .projectBigContainer .projectItem .projectImage {
    width: 370px;
    max-height: 240px;
    overflow: hidden;
  }
  .sectionProjectContainer .projectBigContainer .projectItem .projectTextContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.1rem;
  }
  .sectionProjectContainer .projectBigContainer .projectItem .projectTextContainer .projectLink {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding-block: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-textgray);
    transition: all ease-in-out 120ms;
  }
  .sectionProjectContainer .projectBigContainer .projectItem .projectTextContainer .projectLink:hover {
    color: var(--color-lightgray);
    transform: scale(1.05);
    gap: 1.5rem;
  }
  .sectionProjectContainer .projectBigContainer .marginBlock {
    margin-block: 12px;
  }
  .lineBetweenProjects {
    margin-block: 1rem;
    width: 100%;
    background-color: var(--color-lightgray);
    height: 1px;
  }
  .projectDate {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-mediumgray);
    font-size: 0.9rem;
  }
  .projectDate .projectDateSvg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projectTagsDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding-block: 1rem;
  }
  .projectTagsDetailsContainer .projectTagDetails {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    color: var(--color-darkgray);
    background-color: var(--color-beige);
    border-radius: 2rem;
  }
  .recentProjectsSmallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .recentProjectSmallContainerContent {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
  }
  .recentProjectSmallContainerTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3rem;
  }
  .recentProjectSmallImageContainer {
    height: 82px;
    max-width: 152px;
    overflow: hidden;
  }
  .recentProjectSmallImageContainer .recentProjectSmallImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .projectPageImageContainer {
    width: 100%;
    max-height: 480px;
    overflow: hidden;
  }
  .projectPageImageContainer .projectPageImage {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .projectImageContainer {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  .projectImageContainer .projectImage {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 768px) {
  .sectionProjectContainer {
    padding-block: 2rem;
  }
  .sectionProjectContainer .projectBigContainer .projectItem {
    justify-content: start;
    flex-direction: row;
    gap: 1.5rem;
  }
  .sectionProjectContainer .marginBlock {
    margin-block: 24px;
  }
  .sectionProjectContainer .projectTagsDetailsContainer {
    padding-block: 2rem;
  }
}
@media (min-width: 1400px) {
  .sectionProjectContainer {
    display: grid;
    grid-template-columns: 3fr auto 1fr;
    gap: 3rem;
    padding-block: 4rem;
  }
  .sectionProjectContainer .projectSmallContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer .projectTagsItemsContainer {
    display: inline-flex;
    gap: 1rem;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer .projectTagsItemsContainer .projectItem .projectTextContainer .projectLink {
    margin-top: 1rem;
  }
  .sectionProjectContainer .projectSmallContainer .projectTagsContainer .projectTagsItemsContainer .projectTag {
    padding-inline: 1rem;
    padding-block: 0.6rem;
    color: var(--color-mediumgray);
    border: solid 1px var(--color-lightgray);
    border-radius: 1.5rem;
  }
  .sectionProjectContainer .lineBetween {
    height: 100%;
    background-color: var(--color-lightgray);
    width: 1px;
  }
  .sectionProjectContainer .projectBigContainer {
    padding-right: 2rem;
  }
  .sectionProjectContainer .projectBigContainer .marginBlock {
    margin-block: 36px;
  }
  .sectionProjectContainer .projectBigContainer .projectTagsDetailsContainer {
    padding-block: 4rem;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .sectionEndSection {
    overflow: hidden;
  }
  .sectionEndSection .endSectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    position: relative;
    place-items: center;
    height: 100%;
  }
  .sectionEndSection .endSectionContainer .endSectionImageContainer {
    display: none;
  }
  .sectionEndSection .endSectionContainer .endSectionImageContainer .endSectionFirstImage {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, 0%);
    z-index: 1;
  }
  .sectionEndSection .endSectionContainer .endSectionImageContainer .endSectionSecondImage {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 130%;
  }
  .sectionEndSection .endSectionContainer .endSectionImageContainer .endSectionThirdImage {
    margin-top: auto;
    z-index: 3;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer {
    padding-block: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    text-align: center;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer .endSectionTextAlign {
    font-size: 2rem;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer .endSectionTextItem {
    display: flex;
    justify-content: start;
    column-gap: 0.5rem;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer .endSectionTextItem .iconContainer {
    display: none;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer .endSectionTextItem .iconContainer .icon {
    width: 2rem;
    height: 2rem;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer .endSectionTextItem .endSectionContentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
  }
  .sectionEndSection .endSectionContainer .endSectionTextContainer .endSectionTextItem .endSectionContentContainer .secondIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .sectionEndSection {
    padding-top: 4rem;
  }
  .sectionEndSection .endSectionContainer {
    grid-template-columns: 55% 45%;
    gap: 2rem;
  }
  .sectionEndSection .endSectionContainer .endSectionImageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    opacity: 1;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer {
    width: 100%;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer .endSectionTextContainer {
    align-items: start;
    max-width: 376px;
    row-gap: 1.6rem;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer .endSectionTextContainer .endSectionTextAlign {
    text-align: left;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer .endSectionTextContainer .endSectionTextItem .iconContainer {
    display: block;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer .endSectionTextContainer .endSectionTextItem .iconContainer .icon {
    width: 20px;
    height: 20px;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer .endSectionTextContainer .endSectionTextItem .endSectionContentContainer {
    justify-content: start;
    text-align: left;
    font-size: 1rem;
  }
  .sectionEndSection .endSectionContainer .endSectionParentContainer .endSectionTextContainer .endSectionTextItem .endSectionContentContainer .secondIconContainer {
    display: none;
  }
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 10px) {
  .pageTitleSection {
    background-color: var(--color-darkwhite);
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pageTitleSection .sectionTopImage {
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  .pageTitleSection .sectionBottomImage {
    width: 35%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .pageTitleSection .sectionTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }
  .pageTitleSection .sectionTitleContainer .h2Headlines {
    font-size: 3rem;
  }
  .pageTitleSection .sectionTitleContainer .navSectionTitle {
    display: none;
  }
}
@media (min-width: 768px) {
  .sectionAbout {
    height: 180px;
  }
}
@media (min-width: 1400px) {
  .pageTitleSection {
    height: 245px;
  }
  .pageTitleSection .sectionTitleContainer .navSectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .pageTitleSection .sectionTitleContainer .navSectionTitle .anotherPageNav {
    text-decoration: none;
    color: var(--color-darkgray);
    cursor: pointer;
    transition: all ease-in-out 120ms;
  }
  .pageTitleSection .sectionTitleContainer .navSectionTitle .anotherPageNav:hover {
    text-decoration: underline;
    color: var(--color-mediumgray);
  }
  .pageTitleSection .sectionTitleContainer .navSectionTitle .fa-solid.fa-angle-right {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }
  .pageTitleSection .sectionTitleContainer .navSectionTitle .currentPageNav {
    margin: 0;
    color: var(--color-sand);
  }
}
@media (min-width: 10px) {
  .navUl {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navLi {
    list-style: none;
    padding: 1rem;
    transition: all ease-in-out 120ms;
  }
  .navLi .navLinkText {
    margin-top: 0.6rem;
    font-weight: 700;
    color: var(--color-white);
    text-decoration: none;
    transition: all ease-in-out 120ms;
  }
  .navLi .navLinkText:hover {
    color: var(--color-lightgray) !important;
  }
  .navLi .current {
    color: var(--color-sand) !important;
  }
  .lineBetween {
    width: 100%;
    height: 1px;
    background-color: var(--color-mediumgray);
    box-shadow: 1px 0px 24px var(--color-lightgray);
  }
}
@media (min-width: 1400px) {
  .navUl {
    display: flex;
    gap: 2.5rem;
  }
  .navUl .navLi {
    list-style: none;
    padding: 0rem;
  }
  .navUl .navLi .navLinkText {
    color: var(--color-darkgray);
  }
  .navUl .lineBetween {
    display: none;
  }
}
