<?xml version="1.0" encoding="utf-8"?>
<Content Key="d60ed4a2-0b1b-4dc6-9526-605da8100777" Alias="01045905-5f2a-468c-9e21-66184f358408" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/f2a468c9e2166184f358408</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-27T15:53:53</CreateDate>
    <NodeName Default="01045905-5f2a-468c-9e21-66184f358408" />
    <SortOrder>40</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/27/2024 3:53:53 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[petterson@asd.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Finacial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[olle]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[]]></Value>
    </callbackPhone>
  </Properties>
</Content>