<?xml version="1.0" encoding="utf-8"?>
<Content Key="99f43529-5303-4105-8846-3dc6b4aa2538" Alias="051691af-98c9-4753-b6f5-c9d884ef5653" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/af98c94753B6f5C9d884ef5653</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T16:29:14</CreateDate>
    <NodeName Default="051691af-98c9-4753-b6f5-c9d884ef5653" />
    <SortOrder>61</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 4:29:14 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[olle@persson.se]]></Value>
    </helpEmail>
  </Properties>
</Content>