<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbb9d5d4-e7ab-4890-abdb-42eff3790c40" Alias="0d5b6410-5aae-4d13-91bf-4ebccfc57399" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/d5b64105aae4d1391bf4ebccfc57399</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-27T14:29:48</CreateDate>
    <NodeName Default="0d5b6410-5aae-4d13-91bf-4ebccfc57399" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/27/2024 2:29:48 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>