<?xml version="1.0" encoding="utf-8"?>
<Content Key="04f59cc8-8e43-4298-8975-d863004fbf9b" Alias="17f68cde-9d93-4788-a4e7-67d31d318574" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/f68cde9d934788A4e767d31d318574</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-23T13:26:41</CreateDate>
    <NodeName Default="17f68cde-9d93-4788-a4e7-67d31d318574" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/23/2024 1:26:38 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Planning]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>