<?xml version="1.0" encoding="utf-8"?>
<Content Key="a42d34b3-6764-49d8-a59e-a2caf3a4be47" Alias="18813c72-da7f-49b4-a92c-e42dc5120348" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/c72Da7f49b4A92cE42dc5120348</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T16:41:21</CreateDate>
    <NodeName Default="18813c72-da7f-49b4-a92c-e42dc5120348" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 4:41:21 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[kl@hostp.se]]></Value>
    </helpEmail>
  </Properties>
</Content>