<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c0d9ca1-5353-4cf6-aebf-a6b1d32098a1" Alias="1c91465b-5901-4ecc-a393-776e79ccccdb" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/c91465b59014eccA393776e79ccccdb</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-23T13:45:49</CreateDate>
    <NodeName Default="1c91465b-5901-4ecc-a393-776e79ccccdb" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/23/2024 1:45:47 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Planning]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>