<?xml version="1.0" encoding="utf-8"?>
<Content Key="511aa322-56d1-4067-b99c-af34849af9e0" Alias="1e019291-0238-444b-9b1a-04f533bca266" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/e0192910238444b9b1a04f533bca266</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T13:28:01</CreateDate>
    <NodeName Default="1e019291-0238-444b-9b1a-04f533bca266" />
    <SortOrder>59</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 1:28:01 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>