<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a645179-c3a1-4c6e-8007-ba07ff17b85d" Alias="2171f069-26fe-4c7c-9194-52de5e38c90a" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/f06926fe4c7c919452de5e38c90a</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T16:41:58</CreateDate>
    <NodeName Default="2171f069-26fe-4c7c-9194-52de5e38c90a" />
    <SortOrder>66</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 4:41:58 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>