<?xml version="1.0" encoding="utf-8"?>
<Content Key="334defcc-a7e7-45d3-9f0a-731e461d8e8f" Alias="25346832-f2f0-4d86-a493-aa1bb7126162" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/f2f04d86A493Aa1bb7126162</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-24T16:23:34</CreateDate>
    <NodeName Default="25346832-f2f0-4d86-a493-aa1bb7126162" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/24/2024 4:23:26 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[olle@persson.se]]></Value>
    </helpEmail>
  </Properties>
</Content>