<?xml version="1.0" encoding="utf-8"?>
<Content Key="bac2d88f-7769-40f9-ba9c-09b47ab9b27e" Alias="42699e2c-3175-4e47-a118-43d3daaace0b" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/e2c31754e47A11843d3daaace0b</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T09:13:54</CreateDate>
    <NodeName Default="42699e2c-3175-4e47-a118-43d3daaace0b" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 9:13:54 AM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[hans@onatrix.com]]></Value>
    </helpEmail>
  </Properties>
</Content>