<?xml version="1.0" encoding="utf-8"?>
<Content Key="69757a7a-66fd-4b4b-8775-b0d6f3b3a02a" Alias="52f39707-2c28-4247-9579-500d930c6b7e" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/f397072c2842479579500d930c6b7e</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-24T08:41:00</CreateDate>
    <NodeName Default="52f39707-2c28-4247-9579-500d930c6b7e" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/24/2024 8:41:00 AM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>