<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c1c920e-20f1-4d91-b829-ec4875be5d0a" Alias="5cc8eb89-5d62-4073-b4f4-f0c1a6b79737" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/cc8eb895d624073B4f4F0c1a6b79737</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T09:15:15</CreateDate>
    <NodeName Default="5cc8eb89-5d62-4073-b4f4-f0c1a6b79737" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 9:15:15 AM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[kl@hostp.se]]></Value>
    </helpEmail>
  </Properties>
</Content>