<?xml version="1.0" encoding="utf-8"?>
<Content Key="c008b471-9830-4925-a3d9-a2cec43a1582" Alias="6a53585a-f8a3-4b9b-999a-fe29a300743a" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/a53585aF8a34b9b999aFe29a300743a</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-24T09:42:12</CreateDate>
    <NodeName Default="6a53585a-f8a3-4b9b-999a-fe29a300743a" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/24/2024 9:42:12 AM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>