<?xml version="1.0" encoding="utf-8"?>
<Content Key="32c034a6-c5bd-4c07-ad6b-ba473e0f7eec" Alias="71e0a399-47bd-4152-b311-b0d46cc982c4" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/e0a39947bd4152B311B0d46cc982c4</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T16:34:23</CreateDate>
    <NodeName Default="71e0a399-47bd-4152-b311-b0d46cc982c4" />
    <SortOrder>63</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 4:34:23 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[olle@persson.se]]></Value>
    </helpEmail>
  </Properties>
</Content>