<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0b533cf-54c1-4fea-838f-c9a4ac0be9fa" Alias="8118632c-eea5-4c97-ac2a-fecf5cd51ea8" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/cEea54c97Ac2aFecf5cd51ea8</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-23T13:30:38</CreateDate>
    <NodeName Default="8118632c-eea5-4c97-ac2a-fecf5cd51ea8" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/23/2024 1:30:33 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[olle@persson.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Services]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>