<?xml version="1.0" encoding="utf-8"?>
<Content Key="902d5b49-9592-46e0-a9e7-a79ff45e501c" Alias="913b4913-afec-4eda-bc9f-003e9b9c653e" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/b4913Afec4edaBc9f003e9b9c653e</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T13:30:20</CreateDate>
    <NodeName Default="913b4913-afec-4eda-bc9f-003e9b9c653e" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 1:30:20 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>