<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8fa2b6c-11c3-493e-84d4-f504ad456025" Alias="94464bdb-7c5d-4bcb-96bb-8e9ff7b32e19" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/bdb7c5d4bcb96bb8e9ff7b32e19</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-24T16:26:17</CreateDate>
    <NodeName Default="94464bdb-7c5d-4bcb-96bb-8e9ff7b32e19" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/24/2024 4:26:16 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[hans@onatrix.com]]></Value>
    </helpEmail>
  </Properties>
</Content>