<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff8d72a6-eb64-467a-ba4c-4e12655f791a" Alias="a71ce54b-79b9-4ee4-9b75-bb9ed6d943a0" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/a71ce54b79b94ee49b75Bb9ed6d943a0</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-26T16:04:17</CreateDate>
    <NodeName Default="a71ce54b-79b9-4ee4-9b75-bb9ed6d943a0" />
    <SortOrder>23</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/26/2024 4:04:16 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[ollo@ollo.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Marcus Olloe]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>