<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0719f14-24d8-41c0-898e-cdb264b2717f" Alias="as@asd.sea" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/asAsdsea</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T15:19:50</CreateDate>
    <NodeName Default="as@asd.sea" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 3:19:49 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[as@asd.sea]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[as]]></Value>
    </questionName>
  </Properties>
</Content>