<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fefade7-a8d7-41d3-8a05-aaf4d9b37129" Alias="b885eaba-d02a-4105-94d4-813a70df8d79" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/b885eabaD02a410594d4813a70df8d79</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T11:24:50</CreateDate>
    <NodeName Default="b885eaba-d02a-4105-94d4-813a70df8d79" />
    <SortOrder>49</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 11:24:50 AM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[kl@hostp.se]]></Value>
    </helpEmail>
  </Properties>
</Content>