<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ed05801-7242-434e-a488-1e220be3655b" Alias="b905ca56-17a7-4158-b746-020d4dbecbb8" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/b905ca5617a74158B746020d4dbecbb8</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T11:24:54</CreateDate>
    <NodeName Default="b905ca56-17a7-4158-b746-020d4dbecbb8" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 11:24:54 AM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[kl@hostp.se]]></Value>
    </helpEmail>
  </Properties>
</Content>