<?xml version="1.0" encoding="utf-8"?>
<Content Key="1655bcdd-19e1-4633-8812-98a6f5311b35" Alias="Backoffice" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backoffice</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-24T15:41:00</CreateDate>
    <NodeName Default="Backoffice" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="516f16d7-00f6-4931-a44f-000a885b0b47">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageDescripton>
      <Value><![CDATA[Onatrix Backoffice]]></Value>
    </pageDescripton>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Onatrix Backoffice]]></Value>
    </pageTitle>
  </Properties>
</Content>