<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdcd3bdb-97e7-4b1b-b50d-1accc0d093db" Alias="c0b16519-b31f-40f7-9c23-ebe13c085cca" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/c0b16519B31f40f79c23Ebe13c085cca</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T13:17:39</CreateDate>
    <NodeName Default="c0b16519-b31f-40f7-9c23-ebe13c085cca" />
    <SortOrder>52</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 1:17:39 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>