<?xml version="1.0" encoding="utf-8"?>
<Content Key="48e23cfc-babd-4190-8eb4-97b4733c09c6" Alias="c14c153e-bd73-4056-8dcc-52255fd09fc2" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/c14c153eBd7340568dcc52255fd09fc2</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-24T08:27:57</CreateDate>
    <NodeName Default="c14c153e-bd73-4056-8dcc-52255fd09fc2" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/24/2024 8:27:57 AM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>