<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce20f56a-2c08-4ea0-80d9-f5b73162e680" Alias="c3571ddb-67f2-4369-8c80-7e428390143b" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/c3571ddb67f243698c807e428390143b</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-27T14:30:03</CreateDate>
    <NodeName Default="c3571ddb-67f2-4369-8c80-7e428390143b" />
    <SortOrder>32</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/27/2024 2:30:03 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>