<?xml version="1.0" encoding="utf-8"?>
<Content Key="e86abfea-9de0-4f51-86ef-c7d9fb50bae9" Alias="Callbacks" Level="2">
  <Info>
    <Parent Key="1655bcdd-19e1-4633-8812-98a6f5311b35">Backoffice</Parent>
    <Path>/Backoffice/Callbacks</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-20T14:23:46</CreateDate>
    <NodeName Default="Callbacks" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="516f16d7-00f6-4931-a44f-000a885b0b47">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "udi": "umb://element/6b52c44b177f437e91414ef6fef3f5b6",
      "sectionTitle": "Callbacks",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "udi": "umb://element/24df6b48f6254a588bb824252f2007e1",
      "text": "Our Callbacks Requests",
      "textColor": "{\r\n  \u0022label\u0022: \u0022textgray\u0022,\r\n  \u0022value\u0022: \u0022#535656\u0022\r\n}"
    },
    {
      "contentTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "udi": "umb://element/787bd78b18144123ae03cf20671c2387",
      "containerName": "Callback Container"
    },
    {
      "contentTypeKey": "5b3907e4-e16d-48d9-b985-38926296dc8d",
      "udi": "umb://element/f6235ff01421411988fd20fc06d277ab"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6b52c44b177f437e91414ef6fef3f5b6",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "72058ea7-e4b8-4d52-b3a1-01cb6143b77a",
            "items": [
              {
                "contentUdi": "umb://element/787bd78b18144123ae03cf20671c2387",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "c98fefe2-c508-484a-9642-ad56851061b2",
                    "items": [
                      {
                        "contentUdi": "umb://element/24df6b48f6254a588bb824252f2007e1",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/f6235ff01421411988fd20fc06d277ab",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageDescripton>
      <Value><![CDATA[All Callbacks requests]]></Value>
    </pageDescripton>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Callbacks]]></Value>
    </pageTitle>
  </Properties>
</Content>