<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5a1595e-e375-4fcc-9b57-2355a6eff79f" Alias="cefd1757-677f-4b53-9529-121df861d033" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/cefd1757677f4b539529121df861d033</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T13:18:51</CreateDate>
    <NodeName Default="cefd1757-677f-4b53-9529-121df861d033" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 1:18:51 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>