<?xml version="1.0" encoding="utf-8"?>
<Content Key="8accb933-03a3-4c56-80a9-564221164fd0" Alias="cf4fb654-cf48-4a45-a185-34e243cc5003" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/cf4fb654Cf484a45A18534e243cc5003</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-26T16:14:35</CreateDate>
    <NodeName Default="cf4fb654-cf48-4a45-a185-34e243cc5003" />
    <SortOrder>27</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/26/2024 4:14:34 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>