<?xml version="1.0" encoding="utf-8"?>
<Content Key="bafa9764-08c0-41d3-9e41-b324a1cb8669" Alias="Company Information" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CompanyInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>companyInformation</ContentType>
    <CreateDate>2024-09-10T13:13:29</CreateDate>
    <NodeName Default="Company Information" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyDetails>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0683b211-8b1b-4b99-a5c3-47bd233fcf60",
      "udi": "umb://element/8a6682ffaa5542ccb3bc354a265cc96c",
      "informationDetail": "Office location",
      "informationDetailContent": "Klarabergsviadukten 90, 111 52 Stockholm",
      "tagSelector": "[\u0022Location\u0022]",
      "tagColor": "{\r\n  \u0022label\u0022: \u0022sand\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "0683b211-8b1b-4b99-a5c3-47bd233fcf60",
      "udi": "umb://element/1bcd700a413d41c2980e38caea6d0fc1",
      "informationDetail": "Phone Number",
      "informationDetailContent": "\u002B46 8 123 456 75",
      "tagSelector": "[\u0022Phone\u0022]",
      "tagColor": "{\r\n  \u0022label\u0022: \u0022sand\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "0683b211-8b1b-4b99-a5c3-47bd233fcf60",
      "udi": "umb://element/14f24f4ffefc4ad5a885e6be5b3480a7",
      "informationDetail": "Email Address",
      "informationDetailContent": "sales@onatrix.com",
      "tagSelector": "[\u0022Email\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8a6682ffaa5542ccb3bc354a265cc96c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1bcd700a413d41c2980e38caea6d0fc1",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/14f24f4ffefc4ad5a885e6be5b3480a7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </companyDetails>
    <partners>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "udi": "umb://element/f8fb198ca7a543cdb2bfd6a8f7060369",
      "picture": "[{\u0022key\u0022:\u0022f5f9fa35-2474-4b0b-8500-5a367f7e86f8\u0022,\u0022mediaKey\u0022:\u002258e322f5-da1b-499a-a015-313a3b8bbd8c\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "pictureDescription": "FreedomBird"
    },
    {
      "contentTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "udi": "umb://element/2d156781ea0a41d3902b9e94e05c2702",
      "picture": "[{\u0022key\u0022:\u0022fe94e917-e8ed-42b8-9723-d930608ef8d1\u0022,\u0022mediaKey\u0022:\u00222f05e52c-a0bb-42b0-8826-59ba41cbb298\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "pictureDescription": "Identity"
    },
    {
      "contentTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "udi": "umb://element/d80028137f7248aab54b54104d055f76",
      "picture": "[{\u0022key\u0022:\u0022f69344be-f300-4576-bfa7-529a0a6b67b0\u0022,\u0022mediaKey\u0022:\u0022a7461db1-bff7-4d29-80bc-0ab1d3f1d42c\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "pictureDescription": "Natural"
    },
    {
      "contentTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "udi": "umb://element/00f22a8c3f7746f9ac7c2f41053ebb2b",
      "picture": "[{\u0022key\u0022:\u0022bacb4fd3-b38a-4e77-8766-6d516d63d7ac\u0022,\u0022mediaKey\u0022:\u00221efee675-1041-48a8-a83b-9ccf6f768f79\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "pictureDescription": "Simpleaf"
    },
    {
      "contentTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "udi": "umb://element/1790ad4dd2154c1a8bb6d0f2d8b77d4f",
      "picture": "[{\u0022key\u0022:\u00221fcac8ac-0a9b-457a-a7d3-cbcb17e7db9b\u0022,\u0022mediaKey\u0022:\u00221c496f3d-69cc-41f4-bd77-00a32b65fcd8\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "pictureDescription": "Globe"
    },
    {
      "contentTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "udi": "umb://element/bb8e284a53774f8cb06d3b0b0223eb84",
      "picture": "[{\u0022key\u0022:\u0022cc104661-3650-4fb3-8e31-da9ccc9db4dc\u0022,\u0022mediaKey\u0022:\u00224ce06b81-6d15-4366-96d3-8bcec42cc0f8\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "pictureDescription": "FossilGroup"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f8fb198ca7a543cdb2bfd6a8f7060369",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2d156781ea0a41d3902b9e94e05c2702",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d80028137f7248aab54b54104d055f76",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/00f22a8c3f7746f9ac7c2f41053ebb2b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1790ad4dd2154c1a8bb6d0f2d8b77d4f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/bb8e284a53774f8cb06d3b0b0223eb84",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partners>
  </Properties>
</Content>