<?xml version="1.0" encoding="utf-8"?>
<Content Key="221390ea-a749-4884-9409-3e0ccf7cc251" Alias="d95596d1-d87a-48f4-8afe-277c863263c3" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/d95596d1D87a48f48afe277c863263c3</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T13:17:44</CreateDate>
    <NodeName Default="d95596d1-d87a-48f4-8afe-277c863263c3" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 1:17:44 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>