<?xml version="1.0" encoding="utf-8"?>
<Content Key="c823f186-b2bb-4b5c-8f25-2cd1e1e1d486" Alias="e6f22fa8-5f78-47c7-b151-945500e3a000" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/e6f22fa85f7847c7B151945500e3a000</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-27T15:53:17</CreateDate>
    <NodeName Default="e6f22fa8-5f78-47c7-b151-945500e3a000" />
    <SortOrder>39</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/27/2024 3:53:16 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>