<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab53fdbc-e755-49f2-bab6-7d1b3c685ce8" Alias="End Section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EndSection</Path>
    <Trashed>false</Trashed>
    <ContentType>endSection</ContentType>
    <CreateDate>2024-09-10T13:52:29</CreateDate>
    <NodeName Default="End Section" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "darkwhite",
  "value": "#F7F7F7"
}]]></Value>
    </backgroundColor>
    <headline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </headline>
    <headlineTextColor>
      <Value><![CDATA[{
  "label": "textgray",
  "value": "#535656"
}]]></Value>
    </headlineTextColor>
  </Properties>
</Content>