<?xml version="1.0" encoding="utf-8"?>
<Content Key="dde36f76-7897-4ede-8e3b-2e5e8a5efcf9" Alias="epost@eport.se (9)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse9</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T14:16:46</CreateDate>
    <NodeName Default="epost@eport.se (9)" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 2:16:45 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[asd asdasd]]></Value>
    </questionName>
  </Properties>
</Content>