<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a9d7e67-5d9b-4c71-bfe3-2a627a712360" Alias="epost@eport.se (13)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse13</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T14:25:11</CreateDate>
    <NodeName Default="epost@eport.se (13)" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 2:25:11 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[sdfg sdfg]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[asdf]]></Value>
    </questionName>
  </Properties>
</Content>