<?xml version="1.0" encoding="utf-8"?>
<Content Key="6dbf5b1f-a71a-4923-9b63-596ea23ea56b" Alias="epost@eport.se (12)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse12</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T14:23:34</CreateDate>
    <NodeName Default="epost@eport.se (12)" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 2:23:34 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[asdf]]></Value>
    </questionName>
  </Properties>
</Content>