<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad7a80fd-8082-4b3e-83ce-dd939075f147" Alias="epost@eport.se (5)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse5</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T14:08:59</CreateDate>
    <NodeName Default="epost@eport.se (5)" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 2:08:57 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Olle Persson]]></Value>
    </questionName>
  </Properties>
</Content>