<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8e96844-f604-48d3-9809-e84e072963cc" Alias="epost@eport.se (1)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse1</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T13:36:48</CreateDate>
    <NodeName Default="epost@eport.se (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 1:36:47 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdfasf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Olle Persson]]></Value>
    </questionName>
  </Properties>
</Content>