<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7864873-7f9a-47e4-aac4-669facd7c1d9" Alias="epost@eport.se (7)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse7</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T14:13:09</CreateDate>
    <NodeName Default="epost@eport.se (7)" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 2:13:05 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Olle Persson]]></Value>
    </questionName>
  </Properties>
</Content>