<?xml version="1.0" encoding="utf-8"?>
<Content Key="066be2ea-c80a-4e6c-8ca9-668bf711d51e" Alias="epost@eport.se (15)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse15</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T15:45:22</CreateDate>
    <NodeName Default="epost@eport.se (15)" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 3:45:22 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Olle Persson]]></Value>
    </questionName>
  </Properties>
</Content>