<?xml version="1.0" encoding="utf-8"?>
<Content Key="43150ae8-98d9-41fb-9926-df6748e791d2" Alias="epost@eport.se (11)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse11</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T14:22:59</CreateDate>
    <NodeName Default="epost@eport.se (11)" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 2:22:59 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[asd asdasd]]></Value>
    </questionName>
  </Properties>
</Content>