<?xml version="1.0" encoding="utf-8"?>
<Content Key="a463d08d-69d8-41d4-912a-1f984c44248d" Alias="epost@eport.se (3)" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/epostEportse3</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T13:42:37</CreateDate>
    <NodeName Default="epost@eport.se (3)" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 1:42:37 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdfasf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Olle Persson]]></Value>
    </questionName>
  </Properties>
</Content>