<?xml version="1.0" encoding="utf-8"?>
<Content Key="c77f91dd-2450-4b69-8a33-853122d2376d" Alias="f7156fdb-1862-472e-b18c-86f949813c0d" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/f7156fdb1862472eB18c86f949813c0d</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-25T13:16:51</CreateDate>
    <NodeName Default="f7156fdb-1862-472e-b18c-86f949813c0d" />
    <SortOrder>51</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[9/25/2024 1:16:51 PM]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </helpEmail>
  </Properties>
</Content>