<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1598f44-7c94-4b88-81a1-4a178d33d7fb" Alias="fe8cbb5d-a5ab-4c96-ac1f-fa8ad5343ebd" Level="2">
  <Info>
    <Parent Key="405211fe-3f89-4e2a-af88-01fe3d974a3a">Request a call back</Parent>
    <Path>/RequestACallBack/fe8cbb5dA5ab4c96Ac1fFa8ad5343ebd</Path>
    <Trashed>false</Trashed>
    <ContentType>requestACallBackItem</ContentType>
    <CreateDate>2024-09-27T14:26:31</CreateDate>
    <NodeName Default="fe8cbb5d-a5ab-4c96-ac1f-fa8ad5343ebd" />
    <SortOrder>30</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackDate>
      <Value><![CDATA[9/27/2024 2:26:31 PM]]></Value>
    </callbackDate>
    <callbackEmail>
      <Value><![CDATA[epost@eport.se]]></Value>
    </callbackEmail>
    <callbackMessage>
      <Value><![CDATA[Financial Consulting]]></Value>
    </callbackMessage>
    <callbackName>
      <Value><![CDATA[Olle Persson]]></Value>
    </callbackName>
    <callbackPhone>
      <Value><![CDATA[73123456]]></Value>
    </callbackPhone>
  </Properties>
</Content>