<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1" Alias="Have A Question" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HaveAQuestion</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestion</ContentType>
    <CreateDate>2024-09-20T16:46:27</CreateDate>
    <NodeName Default="Have A Question" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formName>
      <Value><![CDATA[Questions]]></Value>
    </formName>
  </Properties>
</Content>