<?xml version="1.0" encoding="utf-8"?>
<Content Key="43a99b4e-c3a7-4e6a-ad60-fe1e75cf8909" Alias="Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2024-09-05T13:46:29</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "white",
  "value": "#FFFFFF"
}]]></Value>
    </backgroundColor>
    <logotype>
      <Value><![CDATA[[
  {
    "key": "40971842-328c-4120-8ca8-e97f43a92e29",
    "mediaKey": "d2bfe3a5-bafd-42c7-830d-4ecbd1d78aaa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logotype>
    <logotypeAltText>
      <Value><![CDATA[Onatrix logotype]]></Value>
    </logotypeAltText>
    <logotypeUrl>
      <Value><![CDATA[/]]></Value>
    </logotypeUrl>
    <textColor>
      <Value><![CDATA[{
  "label": "textgray",
  "value": "#535656"
}]]></Value>
    </textColor>
  </Properties>
</Content>