<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0860029-1818-4bb3-b01a-64e637c4ebdd" Alias="Help you Form Page" Level="3">
  <Info>
    <Parent Key="f19140bf-7c9c-4de4-a580-4af077505739">Help</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormPage</ContentType>
    <CreateDate>2024-09-24T15:53:22</CreateDate>
    <NodeName Default="Help you Form Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>