<?xml version="1.0" encoding="utf-8"?>
<Content Key="f19140bf-7c9c-4de4-a580-4af077505739" Alias="Help" Level="2">
  <Info>
    <Parent Key="1655bcdd-19e1-4633-8812-98a6f5311b35">Backoffice</Parent>
    <Path>/Backoffice/Help</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-24T15:47:10</CreateDate>
    <NodeName Default="Help" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="516f16d7-00f6-4931-a44f-000a885b0b47">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "udi": "umb://element/3f6b372c2eb94100b3497fa8d2020f19",
      "sectionTitle": "Help",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "udi": "umb://element/7ad3a76d86ab474e9de8cbb1f0187f40",
      "containerName": "Help"
    },
    {
      "contentTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "udi": "umb://element/3108a08be462443b9123e76f79098531",
      "text": "Help Requests",
      "textColor": "{\r\n  \u0022label\u0022: \u0022textgray\u0022,\r\n  \u0022value\u0022: \u0022#535656\u0022\r\n}"
    },
    {
      "contentTypeKey": "22a17639-ebcd-4fc8-b56b-a966c64fdc5d",
      "udi": "umb://element/a8a3f143116c4fd1afd6688c312b037b",
      "amountOfSpace": "1rem"
    },
    {
      "contentTypeKey": "1cb1811f-047c-4bcd-ba74-2507cdab7a39",
      "udi": "umb://element/0222c3355758467b9d1ed8b8c71c4791"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3f6b372c2eb94100b3497fa8d2020f19",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "72058ea7-e4b8-4d52-b3a1-01cb6143b77a",
            "items": [
              {
                "contentUdi": "umb://element/7ad3a76d86ab474e9de8cbb1f0187f40",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "c98fefe2-c508-484a-9642-ad56851061b2",
                    "items": [
                      {
                        "contentUdi": "umb://element/3108a08be462443b9123e76f79098531",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/a8a3f143116c4fd1afd6688c312b037b",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/0222c3355758467b9d1ed8b8c71c4791",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageDescripton>
      <Value><![CDATA[Here you can find allt help requests from the "Help you form"]]></Value>
    </pageDescripton>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Help Requests]]></Value>
    </pageTitle>
  </Properties>
</Content>