<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5b7df49-1d34-4685-ab81-a7bf05b7911a" Alias="marcuswix@yahoo.se" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/marcuswixYahoose</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T13:43:28</CreateDate>
    <NodeName Default="marcuswix@yahoo.se" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 1:43:26 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[marcuswix@yahoo.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[szdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Marcus Wickström]]></Value>
    </questionName>
  </Properties>
</Content>