<?xml version="1.0" encoding="utf-8"?>
<Content Key="07c1562e-2477-45d2-81b0-61f427f19850" Alias="Projects" Level="2">
  <Info>
    <Parent Key="3f79ad81-8714-4988-8f76-d0f7878ba155">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsListPage</ContentType>
    <CreateDate>2024-09-12T07:42:50</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a8d19312-40c6-4833-9280-eef29bebd98a">projectsListPage</Template>
  </Info>
  <Properties>
    <pageDescription>
      <Value><![CDATA[Our projects]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[[
  "Business plans",
  "Report",
  "Insights",
  "Business",
  "App",
  "Project",
  "Pricing",
  "Finance"
]]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>