<?xml version="1.0" encoding="utf-8"?>
<Content Key="37bdf4b7-3d3c-40c6-aa0c-92fc16ac606b" Alias="Questions" Level="2">
  <Info>
    <Parent Key="1655bcdd-19e1-4633-8812-98a6f5311b35">Backoffice</Parent>
    <Path>/Backoffice/Questions</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-23T09:18:08</CreateDate>
    <NodeName Default="Questions" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="516f16d7-00f6-4931-a44f-000a885b0b47">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "udi": "umb://element/ee1bc0ba335344c5b29f0647e53ca1b0",
      "sectionTitle": "Question Section",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "udi": "umb://element/dd1ca200c16949e7b80423c767f1f895",
      "containerName": "Questions"
    },
    {
      "contentTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "udi": "umb://element/e2a1515f58c24ca8b91544b2cceb0693",
      "text": "All Questions Ask:"
    },
    {
      "contentTypeKey": "45f63278-2a56-4b7e-96f0-50f8254a16ed",
      "udi": "umb://element/6e10dfd7b3c74d2fa8b4db5827617dce"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ee1bc0ba335344c5b29f0647e53ca1b0",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "72058ea7-e4b8-4d52-b3a1-01cb6143b77a",
            "items": [
              {
                "contentUdi": "umb://element/dd1ca200c16949e7b80423c767f1f895",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "c98fefe2-c508-484a-9642-ad56851061b2",
                    "items": [
                      {
                        "contentUdi": "umb://element/e2a1515f58c24ca8b91544b2cceb0693",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/6e10dfd7b3c74d2fa8b4db5827617dce",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageDescripton>
      <Value><![CDATA[Here you can find all questions ask in the "Have a questions" form. ]]></Value>
    </pageDescripton>
    <pageTags>
      <Value><![CDATA[[
  "Question",
  "Onatrix"
]]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Questions]]></Value>
    </pageTitle>
  </Properties>
</Content>