<?xml version="1.0" encoding="utf-8"?>
<Content Key="6114755c-49df-4672-86e0-991ab3813118" Alias="sdf@asdf.se" Level="2">
  <Info>
    <Parent Key="0fad70a6-dc69-47b1-bb76-02d9f803e3c1">Have A Question</Parent>
    <Path>/HaveAQuestion/sdfAsdfse</Path>
    <Trashed>false</Trashed>
    <ContentType>haveAQuestionItem</ContentType>
    <CreateDate>2024-09-27T15:57:52</CreateDate>
    <NodeName Default="sdf@asdf.se" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionDate>
      <Value><![CDATA[9/27/2024 3:57:51 PM]]></Value>
    </questionDate>
    <questionEmail>
      <Value><![CDATA[sdf@asdf.se]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[asdfasdf asdf]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[sdaf]]></Value>
    </questionName>
  </Properties>
</Content>