<?xml version="1.0" encoding="utf-8"?>
<Content Key="72d7b89c-aa95-41f2-9e21-53d8b2e764c4" Alias="Search" Level="2">
  <Info>
    <Parent Key="3f79ad81-8714-4988-8f76-d0f7878ba155">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-10-02T07:22:12</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="516f16d7-00f6-4931-a44f-000a885b0b47">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "udi": "umb://element/3ba857400ad34c3699d1432d039e3b59",
      "sectionTitle": "Search",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "udi": "umb://element/238fb385e8294dc6b91ea1f04276e3be",
      "containerName": "Search"
    },
    {
      "contentTypeKey": "170f8974-5da2-4364-9757-59b44083897b",
      "udi": "umb://element/7165a2a668ac4a7898dad505e673d86a"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3ba857400ad34c3699d1432d039e3b59",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "72058ea7-e4b8-4d52-b3a1-01cb6143b77a",
            "items": [
              {
                "contentUdi": "umb://element/238fb385e8294dc6b91ea1f04276e3be",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "c98fefe2-c508-484a-9642-ad56851061b2",
                    "items": [
                      {
                        "contentUdi": "umb://element/7165a2a668ac4a7898dad505e673d86a",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageDescripton>
      <Value><![CDATA[Shows different search results.]]></Value>
    </pageDescripton>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Search Results]]></Value>
    </pageTitle>
  </Properties>
</Content>