<?xml version="1.0" encoding="utf-8"?>
<Content Key="69c40923-74c6-4282-9b7c-57ac00e1094c" Alias="Services" Level="2">
  <Info>
    <Parent Key="3f79ad81-8714-4988-8f76-d0f7878ba155">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-10T07:50:27</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7c031a41-b785-4800-b70b-40de09136fd1">serviceListPage</Template>
  </Info>
  <Properties>
    <pageBackgroundColor>
      <Value><![CDATA[]]></Value>
    </pageBackgroundColor>
    <pageDescription>
      <Value><![CDATA[Something]]></Value>
    </pageDescription>
    <pageHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </pageHeadline>
    <pageHeadlineTextColor>
      <Value><![CDATA[]]></Value>
    </pageHeadlineTextColor>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>