<?xml version="1.0" encoding="utf-8"?>
<Content Key="da3fb1cc-78a6-454f-88d5-02f44ab83ca6" Alias="Test Helpt" Level="4">
  <Info>
    <Parent Key="e0860029-1818-4bb3-b01a-64e637c4ebdd">Help you Form Page</Parent>
    <Path>/Backoffice/Help/HelpYouFormPage/TestHelpt</Path>
    <Trashed>false</Trashed>
    <ContentType>helpYouFormItem</ContentType>
    <CreateDate>2024-09-24T15:53:51</CreateDate>
    <NodeName Default="Test Helpt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpDate>
      <Value><![CDATA[]]></Value>
    </helpDate>
    <helpEmail>
      <Value><![CDATA[help@help.se]]></Value>
    </helpEmail>
  </Properties>
</Content>