<?xml version="1.0" encoding="utf-8"?>
<Content Key="525e77ea-ba73-4d3d-8911-f6c031634d02" Alias="Top Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TopHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>topHeader</ContentType>
    <CreateDate>2024-09-05T13:41:16</CreateDate>
    <NodeName Default="Top Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "darkgray",
  "value": "#4F5955"
}]]></Value>
    </backgroundColor>
    <socialmedia>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "47e4c075-507c-4423-9466-e5b81f8a960f",
      "udi": "umb://element/e9773db6496c4097827c09d45b087efd",
      "socialmediaUrl": "\u0022to.tiktok\u0022",
      "socialmediaName": "[\u0022TikTok\u0022]"
    },
    {
      "contentTypeKey": "47e4c075-507c-4423-9466-e5b81f8a960f",
      "udi": "umb://element/06009eebfc3947d19d5f4090e6a498bf",
      "socialmediaName": "[\u0022YouTube\u0022]",
      "socialmediaUrl": "\u0022to-youtube\u0022"
    },
    {
      "contentTypeKey": "47e4c075-507c-4423-9466-e5b81f8a960f",
      "udi": "umb://element/37a7f1c8f8e64a2d83dc0b00c57cb66a",
      "socialmediaName": "[\u0022Facebook\u0022]",
      "socialmediaUrl": "\u0022to-facebook\u0022"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e9773db6496c4097827c09d45b087efd",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/06009eebfc3947d19d5f4090e6a498bf",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/37a7f1c8f8e64a2d83dc0b00c57cb66a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialmedia>
    <textColor>
      <Value><![CDATA[{
  "label": "white",
  "value": "#FFFFFF"
}]]></Value>
    </textColor>
  </Properties>
</Content>