@mixin btn
{
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-inline: 18px;
    padding-block: 12px;
    border-radius: 0.2rem;
    border: none;
    transition: all ease-in-out 120ms;
    text-decoration: none; 

    &:hover
    {
        background-color: var(--color-mediumgray) !important;
        color: var(--color-white) !important;
    }
}

.btn
{
    @include btn;
    min-width: 180px;
    font-size: 1rem;
    font-weight: 500;
}

.btnTheme {
    @include btn;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-darkgray);
    color: var(--color-beige);
    min-width: 180px;
    max-width: 180px;
}

.btnBeige
{
    @include btn;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-beige);
    color: var(--color-gray);
}

.aLink {
    color: var(--color-textgray);
    text-decoration: none;
    transition: all ease-in-out 120ms;

    &:hover {
        color: var(--color-mediumgray);
        transform: scale(1.01);
    }
}