<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89bc6b66-678a-4522-b394-e37b783f3d1d" Alias="Border - Border Roundness" Level="1">
  <Info>
    <Name>Border - Border Roundness</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Not round",
    "A little round",
    "Medium round",
    "Full round (Circle)"
  ]
}]]></Config>
</DataType>