<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5577e18-b637-476c-8cef-36eb9623b321" Alias="Boxes - Block List" Level="1">
  <Info>
    <Name>Boxes - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c539846a-4585-4147-8171-6cff44851b2d"
    }
  ]
}]]></Config>
</DataType>