<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16a47448-52ba-4461-a4d8-216b629aee03" Alias="Button - Button Types" Level="1">
  <Info>
    <Name>Button - Button Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>