<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca936810-ced4-4dac-b60f-925bcaeb52a1" Alias="Company Information - Company Details" Level="1">
  <Info>
    <Name>Company Information - Company Details</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0683b211-8b1b-4b99-a5c3-47bd233fcf60",
      "label": "**{=informationDetail}** - **{=informationDetailContent}**"
    }
  ]
}]]></Config>
</DataType>