<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02b5aaaa-0d84-45a2-8826-e10db7490d48" Alias="Company Information Detail - Tag Selector" Level="1">
  <Info>
    <Name>Company Information Detail - Tag Selector</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Location",
    "Phone",
    "Email"
  ],
  "multiple": false
}]]></Config>
</DataType>