<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbd09cca-9f9d-47a1-aa38-5b442b3eb678" Alias="Contact Page - Contact Form" Level="1">
  <Info>
    <Name>Contact Page - Contact Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0857195d-0b65-4d58-ba4c-083ce88bbd34",
      "label": "inputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "059fb931-d72c-4636-a00b-9c025c6f763f",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "a5010c03-813b-4329-8d07-15fa3b574c71",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "ee601f10-7c53-4e99-8318-4da4fe73aa91",
      "label": "Button- {=buttonType}"
    }
  ]
}]]></Config>
</DataType>