<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d31686da-4802-486d-9a8c-7c927ffc3ef8" Alias="Custom Grid Section - Number of Grids" Level="1">
  <Info>
    <Name>Custom Grid Section - Number of Grids</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "2",
    "3",
    "4"
  ]
}]]></Config>
</DataType>