<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7da1448b-d901-4bf2-8014-0a06271931f8" Alias="Customize Border - Border Thickness" Level="1">
  <Info>
    <Name>Customize Border - Border Thickness</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Thin",
    "Medium",
    "Thick"
  ]
}]]></Config>
</DataType>