<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bab8230b-f667-4aae-baeb-52b2892be15e" Alias="Element Container - Border" Level="1">
  <Info>
    <Name>Element Container - Border</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "87f294f8-5445-4411-bb4d-a58c9e5ca11d"
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>