<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56eefbc4-aa74-4602-baf1-f37275ed59b1" Alias="Full width Section - Gradient Background Color" Level="1">
  <Info>
    <Name>Full width Section - Gradient Background Color</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "30ddef5d-57d0-42cc-8eb8-7ef2d894deb9",
      "label": "Gradient Background Color"
    }
  ],
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>