<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4ca58eb-42b9-40f5-9c6f-11235d10e982" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "81817384-726f-452a-b24f-c423bccbdc04",
      "label": "**{=pictureDescription}**"
    }
  ]
}]]></Config>
</DataType>