<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12423de5-4e7c-4165-b9f4-1086f6698942" Alias="InputDropdown - Dropdown Services" Level="1">
  <Info>
    <Name>InputDropdown - Dropdown Services</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Consulting",
    "Finacial Services",
    "Other"
  ]
}]]></Config>
</DataType>