<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9e67c03-8105-413e-bf5c-ecf760743ce6" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone",
    "formName"
  ]
}]]></Config>
</DataType>