<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c3d5118-bc4b-49be-9418-a707e77cf330" Alias="InputDropdown - Dropdown Choices" Level="1">
  <Info>
    <Name>InputDropdown - Dropdown Choices</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "16915fc9-9246-461d-b542-6e3fa9200186",
      "label": "Choice - {=dropdownChoice}"
    }
  ],
  "validationLimit": {
    "max": 12
  }
}]]></Config>
</DataType>