<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79c425cd-04e1-423e-bd86-72700cd18a3a" Alias="InputDropdown - Input Type" Level="1">
  <Info>
    <Name>InputDropdown - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Message",
    "Amount"
  ]
}]]></Config>
</DataType>