<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0257289b-592c-41c1-8d33-9fef37197faa" Alias="Modular Email Response - Editor" Level="1">
  <Info>
    <Name>Modular Email Response - Editor</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "44f104f4-ebab-4da0-8c15-d7db1b996c07",
      "name": "Container"
    },
    {
      "key": "aaf40c6f-df06-4fe0-85fd-f58ce25bfc30",
      "name": "Elements"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "9cf16a61-d969-4f4f-885e-14623f405894",
      "allowAtRoot": true,
      "groupKey": "44f104f4-ebab-4da0-8c15-d7db1b996c07",
      "areas": [
        {
          "key": "3c447837-37ca-44c9-be99-dc6b0f2cb68f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "77075541-b277-4d99-b018-823c8402d8bb",
      "allowAtRoot": false,
      "label": "Space",
      "allowInAreas": true,
      "groupKey": "aaf40c6f-df06-4fe0-85fd-f58ce25bfc30"
    },
    {
      "contentElementTypeKey": "41a695c6-1e81-402c-a108-f296769b4669",
      "allowAtRoot": false,
      "label": "Text",
      "allowInAreas": true,
      "groupKey": "aaf40c6f-df06-4fe0-85fd-f58ce25bfc30"
    },
    {
      "contentElementTypeKey": "022e57f2-d7d7-4851-a44b-bc978eba4c86",
      "allowAtRoot": false,
      "label": "Headline",
      "allowInAreas": true,
      "groupKey": "aaf40c6f-df06-4fe0-85fd-f58ce25bfc30"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>