<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5f89e69-8d94-4871-b8cc-5412a844bc30" Alias="Modular Grid Box Item" Level="1">
  <Info>
    <Name>Modular Grid Box Item</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "e6154b13-10a8-4053-9546-a107fdd822d0",
      "name": "Container"
    },
    {
      "key": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b15cd33d-7e09-44ed-b995-bc626fa48258",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "df73e7b6-7557-4e10-8dda-cb5a4ac0b8bd",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "aa53d117-932b-4e97-8f16-9b7788444a8c",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "22a17639-ebcd-4fc8-b56b-a966c64fdc5d",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1507674a-46be-4e62-8ca7-9b54f8504722",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e43472aa-cdee-429c-9e5f-668ea994fee4",
      "allowAtRoot": false,
      "groupKey": "65c98cf2-fc4a-4bcd-9247-50071e80e770",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d4182a44-b28b-4a03-b75d-46dbfe947b7b",
      "allowAtRoot": true,
      "groupKey": "e6154b13-10a8-4053-9546-a107fdd822d0",
      "areas": [
        {
          "key": "bda534d9-c2ec-4d59-b3a2-6c69a005667d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>