<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2e87140-3a1b-4ebc-9436-183f2e737554" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "373bd72b-2764-4836-8447-accf84b9080a",
      "name": "Containers"
    },
    {
      "key": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "name": "Content"
    },
    {
      "key": "93bf7ea9-628f-4488-8cce-a2e8b4caadcb",
      "name": "Components"
    },
    {
      "key": "77419e4a-a533-4f9f-96b7-181e21d940b5",
      "name": "Sections"
    },
    {
      "name": "Form Elements",
      "key": "3c915079-5848-48a1-8639-b05fd2ce8dee"
    },
    {
      "name": "Callbacks",
      "key": "458ba40d-c71f-4a03-97de-0a1a68c49e25"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "c96f6417-2443-49ec-b2b8-62d934d6f77a",
      "allowAtRoot": false,
      "groupKey": "93bf7ea9-628f-4488-8cce-a2e8b4caadcb",
      "allowInAreas": true,
      "label": "image slider"
    },
    {
      "contentElementTypeKey": "c1ddb267-4bc8-4507-9d95-5e9e33a28b7d",
      "allowAtRoot": false,
      "groupKey": "77419e4a-a533-4f9f-96b7-181e21d940b5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "76a0bd80-3aa0-41f9-ad1e-21bbc8e6c185",
      "allowAtRoot": false,
      "groupKey": "77419e4a-a533-4f9f-96b7-181e21d940b5",
      "areas": [],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a360627b-01db-4a45-a64c-8300d0c08b63",
      "allowAtRoot": false,
      "groupKey": "77419e4a-a533-4f9f-96b7-181e21d940b5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e3811800-f0bb-49bc-8c9f-8aea175ec288",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "heading1"
    },
    {
      "contentElementTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "heading2"
    },
    {
      "contentElementTypeKey": "585091b5-b80b-4943-bf1e-372325cb0547",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "heading3"
    },
    {
      "contentElementTypeKey": "b15cd33d-7e09-44ed-b995-bc626fa48258",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "heading5"
    },
    {
      "contentElementTypeKey": "f3cfe146-d4bc-443f-b876-ffdc042a2409",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "linkButton"
    },
    {
      "contentElementTypeKey": "1507674a-46be-4e62-8ca7-9b54f8504722",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "linkText"
    },
    {
      "contentElementTypeKey": "df73e7b6-7557-4e10-8dda-cb5a4ac0b8bd",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "paragraph"
    },
    {
      "contentElementTypeKey": "e43472aa-cdee-429c-9e5f-668ea994fee4",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "picture"
    },
    {
      "contentElementTypeKey": "c719106f-8d4c-4d37-870e-6cb378f48801",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "quote"
    },
    {
      "contentElementTypeKey": "aa53d117-932b-4e97-8f16-9b7788444a8c",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "label": "richText",
      "areas": [],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        }
      ]
    },
    {
      "contentElementTypeKey": "12c729d6-eca6-4eef-9a70-74e1bcb106bf",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "areas": [
        {
          "key": "d737efe6-287a-4d79-846a-31099f5de840",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "22a17639-ebcd-4fc8-b56b-a966c64fdc5d",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        }
      ]
    },
    {
      "contentElementTypeKey": "1d598a04-1f2f-4676-9bc9-e409f3a2083a",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b40efb92-d981-4064-9040-7b813637b37c",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "areas": [],
      "columnSpanOptions": [],
      "label": "Section Header - *{=sectionTitle}* / **{=sectionHeadline}**"
    },
    {
      "contentElementTypeKey": "d4182a44-b28b-4a03-b75d-46dbfe947b7b",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true,
      "areas": [
        {
          "key": "01aeff73-37c4-4fbc-a79c-f58a8fa322b2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        }
      ]
    },
    {
      "contentElementTypeKey": "6bcb766c-821c-4a0e-8bb3-1d516d0024ef",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c55d6ea6-046f-4390-a004-9965ba7fd343",
      "allowAtRoot": false,
      "groupKey": "839ee6ef-b276-4526-ad23-11ebe2d548ce",
      "areas": [
        {
          "key": "63475ef7-1b17-4a86-96a5-0f9c03229d0c",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b501bfff-efeb-43d5-bafd-72ea601efdf8",
      "allowAtRoot": false,
      "groupKey": "77419e4a-a533-4f9f-96b7-181e21d940b5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "06cc1980-bd21-4faa-bbd2-4862d2b4790e",
      "allowAtRoot": false,
      "groupKey": "93bf7ea9-628f-4488-8cce-a2e8b4caadcb",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fb611b87-de22-4dcc-8244-ec37514beac4",
      "allowAtRoot": false,
      "groupKey": "77419e4a-a533-4f9f-96b7-181e21d940b5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2cb8a65d-a8f6-4af8-990c-6f5fe0089b0f",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "2c103568-ff09-4d37-b454-07401523f551",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "373bd72b-2764-4836-8447-accf84b9080a",
      "label": "**SECTION** - **{=sectionTitle}**",
      "rowMinSpan": 1,
      "rowMaxSpan": 12
    },
    {
      "contentElementTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "72058ea7-e4b8-4d52-b3a1-01cb6143b77a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "373bd72b-2764-4836-8447-accf84b9080a",
      "label": "**SECTION** - **{=sectionTitle}**",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "allowAtRoot": false,
      "groupKey": "373bd72b-2764-4836-8447-accf84b9080a",
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        }
      ],
      "allowInAreas": true,
      "areas": [
        {
          "key": "c98fefe2-c508-484a-9642-ad56851061b2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 12,
      "label": "Container - **{=containerName}**"
    },
    {
      "contentElementTypeKey": "8b203fcd-efe4-4e73-bb84-339d58248461",
      "allowAtRoot": false,
      "groupKey": "373bd72b-2764-4836-8447-accf84b9080a",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        }
      ],
      "allowInAreas": true,
      "areas": [
        {
          "key": "08cd1a77-429e-432c-98c7-7580fcd8d7be",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "Container - **{=containerName}**"
    },
    {
      "contentElementTypeKey": "855cdda6-3697-4e78-9ca8-e9d6a7956933",
      "allowAtRoot": true,
      "groupKey": "373bd72b-2764-4836-8447-accf84b9080a",
      "areas": [
        {
          "key": "f975eaec-c9c4-4c58-86b4-16be6211bcb7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "label": "**SECTION** - **{=sectionTitle}**"
    },
    {
      "contentElementTypeKey": "5b3907e4-e16d-48d9-b985-38926296dc8d",
      "allowAtRoot": false,
      "groupKey": "458ba40d-c71f-4a03-97de-0a1a68c49e25",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "45f63278-2a56-4b7e-96f0-50f8254a16ed",
      "allowAtRoot": false,
      "groupKey": "458ba40d-c71f-4a03-97de-0a1a68c49e25",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2138bc7d-32ae-4e4e-ad09-d137dce44afe",
      "allowAtRoot": false,
      "groupKey": "3c915079-5848-48a1-8639-b05fd2ce8dee",
      "allowInAreas": true,
      "areas": [
        {
          "key": "18c62ead-78e1-454c-a175-c11a6c01d934",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "label": "**FORM** - *{=formName}*"
    },
    {
      "contentElementTypeKey": "30e89351-3c8d-4ec9-afb3-30755fb0b549",
      "allowAtRoot": false,
      "groupKey": "3c915079-5848-48a1-8639-b05fd2ce8dee",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "label": "Input - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "c368a6d9-9d56-4b48-8489-f01993e00530",
      "allowAtRoot": false,
      "groupKey": "3c915079-5848-48a1-8639-b05fd2ce8dee",
      "allowInAreas": true,
      "label": "Button - {=buttonText}"
    },
    {
      "contentElementTypeKey": "6e555092-9880-4b54-89b6-fc10b7a9a371",
      "allowAtRoot": false,
      "groupKey": "3c915079-5848-48a1-8639-b05fd2ce8dee",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        }
      ],
      "label": "Dropdown - {=dropdownLabel}"
    },
    {
      "contentElementTypeKey": "1cb1811f-047c-4bcd-ba74-2507cdab7a39",
      "allowAtRoot": false,
      "groupKey": "458ba40d-c71f-4a03-97de-0a1a68c49e25",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>