<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07dcd618-00c3-47f2-bac0-f21282622a72" Alias="Onatrix Approved Colors" Level="1">
  <Info>
    <Name>Onatrix Approved Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "080808",
      "label": "black"
    },
    {
      "value": "535656",
      "label": "textgray"
    },
    {
      "value": "4F5955",
      "label": "darkgray"
    },
    {
      "value": "808080",
      "label": "mediumgray"
    },
    {
      "value": "E0E0E0",
      "label": "lightgray"
    },
    {
      "value": "F7F7F7",
      "label": "darkwhite"
    },
    {
      "value": "FFFFFF",
      "label": "white"
    },
    {
      "value": "F2EDDC",
      "label": "beige"
    },
    {
      "value": "D9C3A9",
      "label": "sand"
    },
    {
      "value": "888888",
      "label": "transparent"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>