<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b5e8475-e845-401d-b104-44ee0887d4f9" Alias="Our Team - Team Members" Level="1">
  <Info>
    <Name>Our Team - Team Members</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7639ea98-3454-443d-a484-193c70fdc99f",
      "label": "**{=memberName}**"
    }
  ]
}]]></Config>
</DataType>