<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7770438-63f7-4c60-9b3c-f2a860b45063" Alias="Recent Project Item - Project Category" Level="1">
  <Info>
    <Name>Recent Project Item - Project Category</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Services",
    "Financial Consulting"
  ]
}]]></Config>
</DataType>