<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c"
    }
  ],
  "maxImageSize": 500,
  "mode": "classic",
  "stylesheets": [
    "/umbraco.css"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "rtl",
    "ltr",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>