<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecf88469-8756-4e0c-a3f0-3376254ebc1a" Alias="Service Item Template - Modular left Side" Level="1">
  <Info>
    <Name>Service Item Template - Modular left Side</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "3eef4249-e2d2-4b08-9393-091d138eaa52",
      "name": "Container "
    },
    {
      "key": "68b212ce-a023-4138-9481-fa568552a835",
      "name": "Elements"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "d88014b4-1102-46a6-bb01-91d9686c29be",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "3eef4249-e2d2-4b08-9393-091d138eaa52"
    },
    {
      "contentElementTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "allowAtRoot": true,
      "groupKey": "3eef4249-e2d2-4b08-9393-091d138eaa52",
      "areas": [
        {
          "key": "eae78629-ddbc-435b-b6e9-1ab015507012",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "2cb8a65d-a8f6-4af8-990c-6f5fe0089b0f",
      "allowAtRoot": true,
      "groupKey": "3eef4249-e2d2-4b08-9393-091d138eaa52",
      "areas": [
        {
          "key": "3c2c4c9d-6f2f-4272-8e07-927f2d267214",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8b203fcd-efe4-4e73-bb84-339d58248461",
      "allowAtRoot": false,
      "groupKey": "3eef4249-e2d2-4b08-9393-091d138eaa52",
      "allowInAreas": true,
      "areas": [
        {
          "key": "7e06138b-7e77-47cb-a2f4-f9b5002f5f77",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "d4182a44-b28b-4a03-b75d-46dbfe947b7b",
      "allowAtRoot": true,
      "groupKey": "3eef4249-e2d2-4b08-9393-091d138eaa52",
      "areas": [
        {
          "key": "25a749d6-51ed-450e-b542-738fd91afdf5",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "585091b5-b80b-4943-bf1e-372325cb0547",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b15cd33d-7e09-44ed-b995-bc626fa48258",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f3cfe146-d4bc-443f-b876-ffdc042a2409",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1507674a-46be-4e62-8ca7-9b54f8504722",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "df73e7b6-7557-4e10-8dda-cb5a4ac0b8bd",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e43472aa-cdee-429c-9e5f-668ea994fee4",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "aa53d117-932b-4e97-8f16-9b7788444a8c",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "22a17639-ebcd-4fc8-b56b-a966c64fdc5d",
      "allowAtRoot": false,
      "groupKey": "68b212ce-a023-4138-9481-fa568552a835",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>