<?xml version="1.0" encoding="utf-8"?>
<DataType Key="825f67ff-abf1-43fd-9490-bc47fbefd1fe" Alias="Service List Page - Modular Healine" Level="1">
  <Info>
    <Name>Service List Page - Modular Healine</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Containers",
      "key": "fe389ecc-c130-4a22-a7dc-b2280acf5252"
    },
    {
      "name": "Elements",
      "key": "e7659b44-49d1-4359-8a7c-ba45f407203b"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "6458febe-d815-4593-aafa-5b0528e1bc9d",
      "allowAtRoot": true,
      "groupKey": "fe389ecc-c130-4a22-a7dc-b2280acf5252",
      "areas": [
        {
          "key": "f7db5311-f604-4e53-aaf8-423a0cda5134",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "6b8d03c9-ef54-45da-b2b7-5f27b11a2f7c",
      "allowAtRoot": false,
      "allowInAreas": true,
      "groupKey": "fe389ecc-c130-4a22-a7dc-b2280acf5252",
      "areas": [
        {
          "key": "7da6147b-d82a-442d-b51f-4ab840fb0bb9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "e3811800-f0bb-49bc-8c9f-8aea175ec288",
      "allowAtRoot": false,
      "groupKey": "e7659b44-49d1-4359-8a7c-ba45f407203b",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 5
        }
      ]
    },
    {
      "contentElementTypeKey": "f5886fa5-95c3-409c-a26c-e702ca3d442d",
      "allowAtRoot": false,
      "groupKey": "e7659b44-49d1-4359-8a7c-ba45f407203b",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b15cd33d-7e09-44ed-b995-bc626fa48258",
      "allowAtRoot": false,
      "groupKey": "e7659b44-49d1-4359-8a7c-ba45f407203b",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "b40efb92-d981-4064-9040-7b813637b37c",
      "allowAtRoot": false,
      "groupKey": "e7659b44-49d1-4359-8a7c-ba45f407203b",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>