<?xml version="1.0" encoding="utf-8"?>
<DataType Key="beaa60a8-d4e0-4639-8f4e-ab9974940c57" Alias="Socialmedia - Dropdown List" Level="1">
  <Info>
    <Name>Socialmedia - Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "X",
    "LinkedIn",
    "YouTube",
    "TikTok"
  ]
}]]></Config>
</DataType>