<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fc23f13-625a-46c4-a2b4-d961c2639fa8" Alias="Top Header - Socialmedia" Level="1">
  <Info>
    <Name>Top Header - Socialmedia</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "47e4c075-507c-4423-9466-e5b81f8a960f",
      "label": "**{=socialmediaName}** - {=socialmediaUrl}"
    }
  ]
}]]></Config>
</DataType>