<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6304563-e721-49bf-98b9-abdfc864c213" Alias="Top Header - SocialMediaList" Level="1">
  <Info>
    <Name>Top Header - SocialMediaList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "47e4c075-507c-4423-9466-e5b81f8a960f",
      "label": "**{=socialmediaName}**- {soicalmediaUrl}"
    }
  ]
}]]></Config>
</DataType>