@mixin center {
    display: grid;
    justify-content: center;
    align-items: center;
}

@mixin centerFlex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerFlexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin sectionContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin sectionsHeadlinesContainer
{
        @include center;
        text-align: center;
        padding-bottom: 2rem;
}