@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model.Name;

	var leftSide = Model.Value("modularLeftSide") as IEnumerable<object> ?? null;
	var thumbnailImage = Model.Value<IPublishedContent>("thumbnailImage")?.Url() ?? null;
}

@if(!string.IsNullOrEmpty(ViewBag.Title))
{
	@await Html.PartialAsync("/Views/Partials/static/_PageTitle.cshtml")
} 

<section>
	<div class="container">
		<div class="sectionServicesContainer">
			
			<div class="smallContainer">
				@if(leftSide != null && leftSide?.Count() > 0)
				{
					@await Html.GetBlockGridHtmlAsync(Model, "modularLeftSide")
				}
				@await Html.PartialAsync("/Views/Partials/static/_HelpYouForm.cshtml")
			</div>

			<div class="lineBetween"></div>

			<div class="bigContainer">
				<div class="projectPageImageContainer">
					<img class="projectPageImage" src="@thumbnailImage" />
				</div>
				<br>
				@Model.Value("pageContent")
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		@await Html.PartialAsync("partials/static/_HaveAQuestionForm.cshtml")
	</div>
</section>

