<form class="contactForm">
    <div class="formHeader">
        <h3 class="h3Headline">Request a call back</h3>
    </div>
    <div class="formContent">
        <div class="formTermsText">
            <i class="termsText">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</i>
        </div>
        <input class="formInput" placeholder="Name">
        <span class="dangerText">A name is requried</span>
        <input class="formInput" placeholder="Email Address">
        <span class="dangerText">A name is requried</span>
        <input class="formInput" placeholder="Phone">
        <span class="dangerText">A name is requried</span>
        <label class="formInputSelect">Financial consulting<select class="formSelect"></select></label>
        <span class="dangerText">A name is requried</span>
        <button class="btnBeige">Submit</button>
        <span class="dangerText">A name is requried</span>
    </div>
</form>
