<!-- Footer -->
<footer class="footer">
    <div class="container containerFooter">

        <div class="footerContent">
            <p class="footerText">© Onatrix. All Rights Reserved. Credits to <a href="#" class="aLinkFooter">Themesflat</a></p>
        </div>
    </div>
</footer>