@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    // Hämta "Top Header" innehållsnoden
    var header = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "header");
    // Hämta adressen
    var logotype = header?.Value<IPublishedContent>("logotype")?.Url() ?? null;

    var backgroundColor = header?.Value<PickedColor>("backgroundColor")?.Label.ToLower() ?? "transparent";  
}

<!-- Header -->
<div style="background-color: var(--color-@backgroundColor)" class="headerOuterContainer">
    <div style="background-color: var(--color-@backgroundColor)" class="container">
    <div style="background-color: var(--color-@backgroundColor)" class="headerInnerContainer">
        <div class="logotypeContainer">

                <a href="@Model.Root().Url()">
                @if (logotype != null)
                {
                    <img src="@logotype" alt="Company logotype">
                }
                else
                {
                        <img src="/defaultPictures/logotype/logotypeGray.svg" alt="Onatrix logotype">
                }
                </a>
        </div>

        <div>
            <nav class="navDesktop">
                @await Html.PartialAsync("/Views/Partials/_Navigation.cshtml")
            </nav>
        </div>

        @await Html.PartialAsync("/Views/Partials/static/searchFunction.cshtml", new SearchModel())

        <div class="barContainer" onclick="showMenu()">
            <i id="bars" class="fa-solid fa-bars"></i>
        </div>

        <div id="sideMenu" class="sideMenu">

            <div class="xmarkContainer" onclick="hideMenu()">
                                <a href="@Model.Root().Url()">
                    <img src="~/defaultPictures/logotype/onatrixInverted.png" alt="Onatrix logotype"/>
                </a>
                <i id="xmark" class="fa-solid fa-xmark"></i>
            </div>
            <nav class="navSideMenu">

                @await Html.PartialAsync("/Views/Partials/_Navigation.cshtml")
            </nav>
        </div>
    </div>
    </div>
</div>