@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    // Hämta "Top Header" innehållsnoden
    var topHeader = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "topHeader");
    // Hämta adressen
    var address = topHeader?.Value<string>("address");

    var backgroundColor = topHeader?.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label.ToLower() ?? "transparent";
}

<!-- Top Header -->
<div style="background-color: var(--color-@backgroundColor)" class="siteContainer">
    <div class="container">
        <div class="contentContainer">
            <p class="topHeaderText">@address</p>
                <div class="socialMediaContainer">

                    @await Html.PartialAsync("/Views/Partials/other/_Socialmedia.cshtml")

                </div>
        </div>
    </div>
</div>