@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin text {
    @media(min-width: 10px) 
    {
        text-align: center;
    }

    @media(min-width: 768px) {
        text-align: left;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-bodyText);
    @include text;
}

.h1Headline {

    @media(min-width: 10px) {
        font-size: 2rem;
        font-weight: 700;
    }

    @media(min-width: 768px) {
        font-size: 4rem;
    }
}

.h2Headline {

    @media(min-width: 10px) {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5;
    }

    @media(min-width: 768px) {
        font-size: 2.2rem;
    }
}

.h3Headline {

    font-size: 1.3rem;
    font-weight: 800;
}

.h4Headline {

    font-size: 1.5rem;
    font-weight: 600;
}

.h5Headline {

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.iText {

    font-weight: 200;
    font-size: 1.2rem;
}

.pText {

    font-size: 0.9rem;
}

.noMargin
{
    margin: 0;
}

.sectionHeadlines {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 580px;
}

.centerText
{
    text-align: center;
}


.dangerText
{
    color: var(--color-danger);
    font-size: 0.8rem;
    font-style: italic;
}

.successText
{
    color: var(--color-success);
    font-size: 0.8rem;
    font-style: italic;
}