<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7461db1-bff7-4d29-80bc-0ab1d3f1d42c" Alias="03.svg" Level="3">
  <Info>
    <Parent Key="fd8d8e14-8b07-4b6b-8669-928d111a081a">Collaborations</Parent>
    <Path>/PageImages/Collaborations/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T08:33:24</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ioqoirpm/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>