<?xml version="1.0" encoding="utf-8"?>
<Media Key="1efee675-1041-48a8-a83b-9ccf6f768f79" Alias="04.svg" Level="3">
  <Info>
    <Parent Key="fd8d8e14-8b07-4b6b-8669-928d111a081a">Collaborations</Parent>
    <Path>/PageImages/Collaborations/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T08:33:24</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q3nfz5c0/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>