<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdffc4f0-6af1-4156-8b7e-140f99609338" Alias="About Us" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T12:46:47</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>