<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfc0cdc1-9980-4d96-947a-f13abed9a096" Alias="CenterImage" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/CenterImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T14:49:30</CreateDate>
    <NodeName Default="CenterImage" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>