<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd8d8e14-8b07-4b6b-8669-928d111a081a" Alias="Collaborations" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/Collaborations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T08:33:13</CreateDate>
    <NodeName Default="Collaborations" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>