<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e7b89d8-ded7-4875-a7cb-65a0c1e96f80" Alias="DotMapWhite.svg" Level="3">
  <Info>
    <Parent Key="cfc0cdc1-9980-4d96-947a-f13abed9a096">CenterImage</Parent>
    <Path>/PageImages/CenterImage/DotMapWhitesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:49:34</CreateDate>
    <NodeName Default="DotMapWhite.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fi0ntxgm/dotmapwhite.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>