<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f495e2a-a191-4a92-a282-89ff9c97a056" Alias="DotMapGray.svg" Level="3">
  <Info>
    <Parent Key="cfc0cdc1-9980-4d96-947a-f13abed9a096">CenterImage</Parent>
    <Path>/PageImages/CenterImage/DotMapGraysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:49:34</CreateDate>
    <NodeName Default="DotMapGray.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1drpxlmk/dotmapgray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>