<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc8f3c7b-2a3f-4c25-8a3d-76d6499f5ed3" Alias="groupPhoto.svg" Level="3">
  <Info>
    <Parent Key="cfc0cdc1-9980-4d96-947a-f13abed9a096">CenterImage</Parent>
    <Path>/PageImages/CenterImage/groupPhotosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:49:34</CreateDate>
    <NodeName Default="groupPhoto.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rgad0hre/groupphoto.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>