<?xml version="1.0" encoding="utf-8"?>
<Media Key="eca4cff4-a52a-41b5-9803-5fd9d090fae1" Alias="Hero Section" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/HeroSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T13:43:02</CreateDate>
    <NodeName Default="Hero Section" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>