<?xml version="1.0" encoding="utf-8"?>
<Media Key="9648f2c3-4455-4549-ba4e-3fa73d68bbe3" Alias="homePicture" Level="3">
  <Info>
    <Parent Key="eca4cff4-a52a-41b5-9803-5fd9d090fae1">Hero Section</Parent>
    <Path>/PageImages/HeroSection/homePicture</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T10:25:39</CreateDate>
    <NodeName Default="homePicture" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jq2a2ib2/home-picture.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>