<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc5a9520-9b43-4406-bb10-1ab812f6e585" Alias="home picture.svg" Level="3">
  <Info>
    <Parent Key="eca4cff4-a52a-41b5-9803-5fd9d090fae1">Hero Section</Parent>
    <Path>/PageImages/HeroSection/homePicturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T13:43:21</CreateDate>
    <NodeName Default="home picture.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0iupqxsy/home-picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>