<?xml version="1.0" encoding="utf-8"?>
<Media Key="97fe85fe-24d6-420a-9362-449e9f37aa65" Alias="Icon facebook.svg" Level="3">
  <Info>
    <Parent Key="ceca6180-ffe6-49a8-87f9-3689f0ba1543">Socialmedia</Parent>
    <Path>/PageImages/Socialmedia/IconFacebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T13:42:39</CreateDate>
    <NodeName Default="Icon facebook.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bq2fy3on/icon-facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>