<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3a7d24a-9d37-480d-9e48-05963ef70328" Alias="Icon twitter.svg" Level="3">
  <Info>
    <Parent Key="ceca6180-ffe6-49a8-87f9-3689f0ba1543">Socialmedia</Parent>
    <Path>/PageImages/Socialmedia/IconTwittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T13:42:39</CreateDate>
    <NodeName Default="Icon twitter.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbxbkijm/icon-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>