<?xml version="1.0" encoding="utf-8"?>
<Media Key="d69b5bd8-6336-43ca-a10b-37c8a1358bde" Alias="Icon pinterest.svg" Level="3">
  <Info>
    <Parent Key="ceca6180-ffe6-49a8-87f9-3689f0ba1543">Socialmedia</Parent>
    <Path>/PageImages/Socialmedia/IconPinterestsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T13:42:39</CreateDate>
    <NodeName Default="Icon pinterest.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fltdsnbn/icon-pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>