<?xml version="1.0" encoding="utf-8"?>
<Media Key="569839e1-2d84-4499-b855-9c732874e736" Alias="image-18-min 1.svg" Level="3">
  <Info>
    <Parent Key="87da0ae6-999e-4a6d-8a25-47339a31310e">Our Services Section</Parent>
    <Path>/PageImages/OurServicesSection/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:29</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cocdvne5/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>