<?xml version="1.0" encoding="utf-8"?>
<Media Key="16f0481c-f33e-4e3a-959c-275eccfe2fdb" Alias="image-13-min 1.svg" Level="3">
  <Info>
    <Parent Key="87da0ae6-999e-4a6d-8a25-47339a31310e">Our Services Section</Parent>
    <Path>/PageImages/OurServicesSection/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:29</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/310ff3bf/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>