<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccb6f4b9-080c-42c5-b08e-95e7c3ef65b5" Alias="image-24-min 1.svg" Level="3">
  <Info>
    <Parent Key="87da0ae6-999e-4a6d-8a25-47339a31310e">Our Services Section</Parent>
    <Path>/PageImages/OurServicesSection/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:30</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jnebilqx/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>