<?xml version="1.0" encoding="utf-8"?>
<Media Key="a13ef7bb-666d-4760-8981-29523a049fe1" Alias="image-21-min 1.svg" Level="3">
  <Info>
    <Parent Key="87da0ae6-999e-4a6d-8a25-47339a31310e">Our Services Section</Parent>
    <Path>/PageImages/OurServicesSection/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:29</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jffjyq1w/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>