<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e6de352-22dc-4ab6-a329-8315bd4f4ac2" Alias="image-22-min 1.svg" Level="3">
  <Info>
    <Parent Key="87da0ae6-999e-4a6d-8a25-47339a31310e">Our Services Section</Parent>
    <Path>/PageImages/OurServicesSection/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:29</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ubpm55gh/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>