<?xml version="1.0" encoding="utf-8"?>
<Media Key="63294589-c68b-4c36-9648-36de06c6ec1a" Alias="image-23-min 1.svg" Level="3">
  <Info>
    <Parent Key="87da0ae6-999e-4a6d-8a25-47339a31310e">Our Services Section</Parent>
    <Path>/PageImages/OurServicesSection/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T12:48:29</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pp2ixamq/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>