<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a706107-313f-4ac0-9650-d28bcc20bd87" Alias="image-21-min 2.png" Level="3">
  <Info>
    <Parent Key="9a08491a-414d-4d7e-b6a6-bb4597091b63">Risk Management</Parent>
    <Path>/PageImages/RiskManagement/image21Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T06:58:14</CreateDate>
    <NodeName Default="image-21-min 2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rcvdn5cw/image-21-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>