<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a1beb9e-8034-4319-946a-e239c2ed10c5" Alias="img_choose_01_home01 1.png" Level="3">
  <Info>
    <Parent Key="cdffc4f0-6af1-4156-8b7e-140f99609338">About Us</Parent>
    <Path>/PageImages/AboutUs/img_choose_01_home011png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T12:47:46</CreateDate>
    <NodeName Default="img_choose_01_home01 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ceqf0pc3/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>