<?xml version="1.0" encoding="utf-8"?>
<Media Key="60966b02-d387-4371-b011-c64a0232eb58" Alias="Logotypes" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/Logotypes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T13:43:37</CreateDate>
    <NodeName Default="Logotypes" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>