<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2bfe3a5-bafd-42c7-830d-4ecbd1d78aaa" Alias="logotypeGray.svg" Level="3">
  <Info>
    <Parent Key="60966b02-d387-4371-b011-c64a0232eb58">Logotypes</Parent>
    <Path>/PageImages/Logotypes/logotypeGraysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T13:43:45</CreateDate>
    <NodeName Default="logotypeGray.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k3pb0mhg/logotypegray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>