<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dbfa678-e96b-41a0-b5da-91b6768eadd8" Alias="Our Project Details Page" Level="3">
  <Info>
    <Parent Key="4922fa2d-5f96-4913-9726-d0440c37cc4a">Our Projects</Parent>
    <Path>/PageImages/OurProjects/OurProjectDetailsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-16T06:33:23</CreateDate>
    <NodeName Default="Our Project Details Page" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>