<?xml version="1.0" encoding="utf-8"?>
<Media Key="87da0ae6-999e-4a6d-8a25-47339a31310e" Alias="Our Services Section" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/OurServicesSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T12:47:42</CreateDate>
    <NodeName Default="Our Services Section" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>