<?xml version="1.0" encoding="utf-8"?>
<Media Key="4922fa2d-5f96-4913-9726-d0440c37cc4a" Alias="Our Projects" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/OurProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T07:46:04</CreateDate>
    <NodeName Default="Our Projects" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>