<?xml version="1.0" encoding="utf-8"?>
<Media Key="89b837c6-ac88-434c-8d70-693dfcbe9be5" Alias="Page Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PageImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T13:42:24</CreateDate>
    <NodeName Default="Page Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>