<?xml version="1.0" encoding="utf-8"?>
<Media Key="afe8a967-28b7-444e-8ed2-7ea979c125a3" Alias="peopleInMeeting.svg" Level="3">
  <Info>
    <Parent Key="cfc0cdc1-9980-4d96-947a-f13abed9a096">CenterImage</Parent>
    <Path>/PageImages/CenterImage/peopleInMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:49:34</CreateDate>
    <NodeName Default="peopleInMeeting.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sukeutnm/peopleinmeeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>