<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa05ef17-8386-4825-b3a8-a4942a7ce3b8" Alias="pj1.svg" Level="3">
  <Info>
    <Parent Key="4922fa2d-5f96-4913-9726-d0440c37cc4a">Our Projects</Parent>
    <Path>/PageImages/OurProjects/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T13:50:50</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2vjkoge3/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>