<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b9866ca-c7bd-45b6-860e-121f6837405a" Alias="pj2.svg" Level="3">
  <Info>
    <Parent Key="4922fa2d-5f96-4913-9726-d0440c37cc4a">Our Projects</Parent>
    <Path>/PageImages/OurProjects/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T13:48:46</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hdndu4ng/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>