<?xml version="1.0" encoding="utf-8"?>
<Media Key="df3c4baa-f9e4-4aab-8a53-e6c31521b737" Alias="pj3.svg" Level="3">
  <Info>
    <Parent Key="4922fa2d-5f96-4913-9726-d0440c37cc4a">Our Projects</Parent>
    <Path>/PageImages/OurProjects/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T13:48:46</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ld1j2pp5/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>