<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3479420-2493-4bb8-a502-2baeca41ab7d" Alias="pj4 1.png (1)" Level="3">
  <Info>
    <Parent Key="4922fa2d-5f96-4913-9726-d0440c37cc4a">Our Projects</Parent>
    <Path>/PageImages/OurProjects/pj41png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T06:33:31</CreateDate>
    <NodeName Default="pj4 1.png (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v3paczp0/pj4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>