<?xml version="1.0" encoding="utf-8"?>
<Media Key="417ed4cb-4be7-412b-8691-a157ea4f23a5" Alias="pj4.svg" Level="3">
  <Info>
    <Parent Key="4922fa2d-5f96-4913-9726-d0440c37cc4a">Our Projects</Parent>
    <Path>/PageImages/OurProjects/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-16T13:48:45</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hfunzi52/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>