<?xml version="1.0" encoding="utf-8"?>
<Media Key="a360d6ae-9eee-43e2-ba5b-fabf73278c57" Alias="post2 1.png" Level="3">
  <Info>
    <Parent Key="9a08491a-414d-4d7e-b6a6-bb4597091b63">Risk Management</Parent>
    <Path>/PageImages/RiskManagement/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T06:58:14</CreateDate>
    <NodeName Default="post2 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eeocmfmh/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>