<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c31c63a-60aa-4004-ad4e-ded9ae239f2e" Alias="Rating.svg" Level="3">
  <Info>
    <Parent Key="cdffc4f0-6af1-4156-8b7e-140f99609338">About Us</Parent>
    <Path>/PageImages/AboutUs/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T16:38:42</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zb3jh1vr/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>