<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a08491a-414d-4d7e-b6a6-bb4597091b63" Alias="Risk Management" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T06:58:05</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>