<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a23907b-8adb-4ade-ad81-c4152efa04f1" Alias="Signature.svg" Level="3">
  <Info>
    <Parent Key="eca4cff4-a52a-41b5-9803-5fd9d090fae1">Hero Section</Parent>
    <Path>/PageImages/HeroSection/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T13:43:21</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rewjdkga/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>