<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceca6180-ffe6-49a8-87f9-3689f0ba1543" Alias="Socialmedia" Level="2">
  <Info>
    <Parent Key="89b837c6-ac88-434c-8d70-693dfcbe9be5">Page Images</Parent>
    <Path>/PageImages/Socialmedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T13:42:35</CreateDate>
    <NodeName Default="Socialmedia" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>