.navigation__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: var(--color-darkgray) 1px solid;
    box-shadow: 0 0 4px var(--color-darkgray);

    @media(min-width: 1400px) {
        display: flex;
        gap: 2.5rem;
        box-shadow: none;
        border: none;
    }
}

.navigation__li {
    padding: var(--size-16);
    transition: all ease-in-out 120ms;
    border-bottom: var(--color-darkgray) 1px solid;
    box-shadow: 0 0 4px var(--color-darkgray);
    transition: all 120ms ease-in-out;

    @media(min-width: 1400px) {
        padding: 0rem;
        border: none;
        box-shadow: none;
    }

    &:hover {

        @media(max-width: 1400px) {
            background-color: var(--color-darkgray);
        }
    }
}


.navigation__text {
    margin-top: 0.6rem;
    font-weight: 700;
    color: var(--color-white);
    text-decoration: none;
    transition: all ease-in-out 120ms;

    &:hover {
        color: var(--color-mediumgray) !important;
    }

    @media(min-width: 1400px) {
        color: var(--color-darkgray);
        &:hover {
            text-decoration: underline;
        }
    }
}

.current {
    color: var(--color-sand) !important;
}

.searchHeader {
    display: block;

    @media(min-width: 1400px) {
    }
}

.search {
    @media(min-width: 1400px) {
        display: none;
    }
}

