@import "../../scss/core/mixins/_mixins.scss";

//Mobil
@media(min-width: 10px)
{
    .pageTitleSection {
        background-color: var(--color-darkwhite);
        position: relative;
        height: 140px;
        width: 100%;
        @include centerFlexColumn;

        .sectionTopImage {
            width: 45%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }

        .sectionBottomImage {
            width: 35%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
        }

        .sectionTitleContainer {
            @include centerFlexColumn;
            gap: 1rem;
            height: 100%;

            .h2Headlines {
                font-size: 3rem;
            }

            .navSectionTitle {
                display: none;
            }
        }
    }
}

@media(min-width: 768px)
{
    .sectionAbout
    {
        height: 180px;
    }  
}

@media(min-width: 1400px)
{
    .pageTitleSection {
        height: 245px;

        .sectionTitleContainer {
            .navSectionTitle {
                @include centerFlex;
                gap: 0.5rem;

                .anotherPageNav {
                    text-decoration: none;
                    color: var(--color-darkgray);
                    cursor: pointer;
                    transition: all ease-in-out 120ms;

                    &:hover {
                        text-decoration: underline;
                        color: var(--color-mediumgray);
                    }
                }

                .fa-solid.fa-angle-right {
                    margin-top: 0.2rem;
                    font-size: 0.8rem;
                }

                .currentPageNav {
                    margin: 0;
                    color: var(--color-sand);
                }
            }
        }
    } 
}