:root
{
    --color-darkgray: #4F5955;
    --color-lightgray: #E0E0E0;
    --color-mediumgray:#808080;
    --color-textgray: #535656; 
    --color-beige: #F2EDDC;
    --color-sand: #D9C3A9;
    --color-darkwhite: #F7F7F7;
    --color-white: #FFFFFF;
    --color-black: #080808; 
    --color-danger: #F24346;
    --color-success: #28D15A;   
}