@import "../core/mixins/_mixins.scss";

//Mobil >576px
@media(min-width: 10px)
{
    .headerOuterContainer {
        width: 100%;
        overflow: hidden;
        padding-inline: 1rem;
        position: relative;
        height: 76px;
        z-index: 100;
        box-shadow: 0px 10px 24px var(--color-lightgray);


        .container {
            position: relative;
            width: 100%;

            .headerInnerContainer {
                position: fixed;
                width: auto;
                height: auto;
                top: 0;
                left: 0;
                width: 100%;
                @include space;
                padding: 1rem;
                box-shadow: 0px 10px 24px var(--color-lightgray);


                .logotypeContainer {
                    @include centerFlex;
                }

                .navDesktop {
                    display: none;
                    gap: 4rem;
                }

                .searchContainer {
                    display: none;

                    .inputSearch {
                        border: none;
                    }
                }

                .barContainer {
                    display: flex;

                    .fa-solid.fa-bars {
                        font-size: 1.6rem;
                        transition: all ease-in-out 120ms;

                        &:active {
                            color: var(--color-mediumgray);
                        }
                    }
                }

                .sideMenu {
                    position: fixed;
                    right: -70%;
                    top: 0;
                    height: 100vh;
                    width: 55%;
                    background-color: var(--color-darkgray);
                    z-index: 2;
                    transition: right 0.3s ease;
                    box-shadow: -5px 0px 24px var(--color-mediumgray);

                    .xmarkContainer {
                        display: flex;
                        justify-content: space-between;
                        align-items:center;
                        margin-right: 0.5rem;
                        padding: 1rem;

                        .fa-solid.fa-xmark {
                            font-size: 1.6rem;
                            color: var(--color-white);
                            transition: all ease-in-out 120ms;


                            &:active {
                                color: var(--color-mediumgray);
                            }
                        }
                    }

                    .navSideMenu {
                        display: grid;
                        grid-template-columns: 1fr;
                        transition: all ease-in-out 240ms;


                        .navLinkTextBar {
                            padding-inline: 1rem;
                            padding-block: 0.8rem;
                            color: var(--color-white);
                            text-decoration: none;
                            border-bottom: 1px solid var(--color-mediumgray);
                            transition: all ease-in-out 120ms;

                            &:hover {
                                background-color: var(--color-mediumgray);
                            }

                            &:active {
                                background-color: var(--color-mediumgray);
                            }
                        }
                    }
                }
            }
        }
    }
}

//Tablet >768px
@media(min-width: 768px)
{
    .headerOuterContainer {
        height: 18px;
    }
}

//Desktop >1400px
@media(min-width: 1400px)
{
    .headerOuterContainer {
        height: auto;

        .container {
            .headerInnerContainer {
                position: relative;
                width: 100%;
                padding: 0.5rem;
                box-shadow: none;

                .barContainer {
                    display: none;
                }

                .searchContainer {
                    @include centerFlex;
                    gap: 0.5rem;
                }

                .navDesktop {
                    display: flex;
                }
            }
        }
    }

}