@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var companyInformation = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "companyInformation");
    var companyDetails = companyInformation?.Value<IEnumerable<BlockListItem>>("companyDetails") ?? null;

    var endSection = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "endSection");
    var headline = endSection?.Value<string>("headline") ?? "";
    var textColor = endSection?.Value<PickedColor>("headlineTextColor")?.Label.ToLower() ?? "textgray";
    var backgroundColor = endSection?.Value<PickedColor>("backgroundColor")?.Label.ToLower() ?? "transparent";
    var tagColor = endSection?.Value<PickedColor>("tagColor")?.Label.ToLower() ?? "sand";
}
<section style="background-color: var(--color-@backgroundColor)" class="sectionEndSection">

    <div class="container endSectionContainer">

        <div class="endSectionImageContainer">
            <img class="endSectionFirstImage" src="/defaultPictures/endSectionImages/Dot.svg" alt="a svg-picture" />
            <img class="endSectionSecondImage" src="/defaultPictures/endSectionImages/Bg.svg" alt="a svg-picture" />
            <img class="endSectionThirdImage" src="/defaultPictures/endSectionImages/Img-5-e1695109900349 1.svg" alt="a picture of a man" />
        </div>

        <div class="endSectionParentContainer">
            <div class="endSectionTextContainer">
                <h2 style="color: var(--color-@textColor)" class="h2Headline endSectionTextAlign">@headline</h2>

                @if(companyDetails != null)
                {
                    @foreach (var item in companyDetails)
                    {
                        var detail = item.Content;
                        string icon = "";
                        var tag = detail?.Value<string>("tagSelector")?.ToLower() ?? null;

                        switch(tag)
                        {
                            case "location": 
                            icon = "fa-location-dot";
                            break;
                            case "phone":
                            icon = "fa-phone";
                            break;
                            case "email":
                            icon = "fa-envelope";
                            break;
                            default:
                            icon = "fa-circle";
                            break;
                        }
                        <div class="endSectionTextItem">
                            <div class="iconContainer">
                                <i style="color: var(--color-@tagColor)" class="fa-solid @icon"></i>
                            </div>
                            <div class="endSectionContentContainer">
                                <div>
                                    <div class="secondIconContainer">
                                        <i style="color: var(--color-@tagColor)" class="fa-solid @icon"></i>
                                    </div>
                                    <b style="color: var(--color-@textColor)">
                                        @if (detail?.Value("informationDetail") != null)
                                        {
                                            @detail?.Value("informationDetail")
                                        }
                                        else
                                        {

                                        }
                                    </b>
                                </div>  
                                <p style="color: var(--color-@textColor)">@detail?.Value("informationDetailContent")</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

