@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using static Umbraco.Cms.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter;

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    // Hämta "Top Header" innehållsnoden
    var header = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "header");
    // Hämta adressen
    var logotype = header?.Value<IPublishedContent>("logotype")?.Url() ?? null;

    var backgroundColor = header?.Value<PickedColor>("backgroundColor")?.Label.ToLower() ?? "transparent";  
}

<!-- Header -->
<div style="background-color: var(--color-@backgroundColor)" class="container">
    <div class="headerContainer">
        <div class="logotypeContainer">

                <a href="@Model.Root().Url()">
                @if (logotype != null)
                {
                    <img src="@logotype" alt="Company logotype">
                }
                else
                {
                    <img src="/defaultPictures/logotype/logotypeGray.svg" alt="Company logotype">
                }
                </a>
        </div>

        <div>
            <nav class="navDesktop">
                @await Html.PartialAsync("_Navigation.cshtml")
            </nav>
        </div>

        <div class="searchContainer">
            <input class="inputSearch">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="barContainer" onclick="showMenu()">
            <i id="bars" class="fa-solid fa-bars"></i>
        </div>

        <div id="sideMenu" class="sideMenu">
            <div class="xmarkContainer" onclick="hideMenu()">
                <i id="xmark" class="fa-solid fa-xmark"></i>
            </div>
            <nav class="navSideMenu">
                @await Html.PartialAsync("_Navigation.cshtml")
            </nav>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/4d5d7d75c3.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"></script>
<script src="/Scripts/main.js"></script>