@import "../core/mixins/_mixins.scss";

//Mobil >576px
@media(min-width: 10px)
{
    .siteContainer {
        display: none;

        .contentContainer {
            @include space;
            background-color: transparent;
            height: 58px;
        }

        .topHeaderText {
            color: var(--color-white);
            margin: 0;
            font-weight: 200;
            font-size: 0.9rem;
        }

        .socialMediaContainer {
            display: flex;

            @mixin socialMediaButton {
                @include centerFlex;
                height: 58px;
                width: 58px;
                color: var(--color-white);
                background-color: transparent;
                transition: background-color ease-in-out 120ms;
                text-decoration: none;

                &:hover {
                    background-color: var(--color-mediumgray);
                }
            }

            .socialMediaButton {
                @include socialMediaButton;
                border-left: solid 1px var(--color-mediumgray);
            }

            .socialMediaButtonLast {
                @include socialMediaButton; 
                border-inline: solid 1px var(--color-mediumgray);              
            }
        }
    }
}

//Tablet >768px
@media(min-width: 768px)
{
    .siteContainer
    {
        display: flex;
    }
}

//Desktop >1400px
@media(min-width: 1400px)
{
}